
.book-page {
  .actions, .book-buttons {
    text-align: center;
  }

  hr {
    margin: 15px 0;
  }

}

/* MAX_WIDTH: 991px
========================================================================== */
@media screen and(max-width:$break-medium){
  .book-container {
    .book-details {
      text-align: center;
    }
  }
}
