/* Course Details
========================================================================== */

.class-details{
  margin-top: -16px;

  .detail-wrap{
    padding: 20px 0 20px 0;

    h2{
      width: 50%;
      padding-right: 30px;
      color: $blue;
      max-width: 300px;
      margin-top: 15px;
      @extend %segoe-regular;
    }

    .no-class {
      font-size: 16px;
      @extend %segoe-regular;
    }

    .button-wrap {
      .register-btn {
        position: relative;
        width: 100%;
        max-width: 100px;
      }
    }

  }

  .panel-default{
    @include border-radius(3px);
    margin: 0 15px;
    overflow: hidden;
    border: none;
  }

  h2, ul {
    margin-bottom: 15px;
  }


  .table>thead>tr>th
  { border: 1px solid #c5c5c5; }

  table {
    margin: 0;
    border: 1px solid #c5c5c5;
    th {
      text-align: center;
      background-color: #cbcbcb;
    }
    td {
      text-align: center;
      border-left: 1px solid #c5c5c5;
      border-right: 1px solid #c5c5c5;
    }
  }
  table>tbody>tr:nth-of-type(even) {
    background-color: #f6f6f6;
  }

  span{
    color: $blue;

  }

  li{
    font-size: 14px;
    line-height: 20px;
    @extend %verdana-bold;

    a{
      color: $black;
    }

  }



}


/* MAX_WIDTH: 991px
========================================================================== */

@media screen and(max-width:$break-medium){
  .class-details{

    .table-wrap{
      margin-top: 15px;
      overflow: auto;
      height: 310px;
      width: 100%;
    }

    table{
      float: none;
      width: 100%;
      margin: 0;
      table-layout: initial;
    }

    th:first-child{
      &:before{
        content: none;
      }
    }

    th:last-child{
      &:after{
        content: none;
      }
    }

    h2{
      max-width: 100%;
      width: 100%;
    }



  }
}

/* MAX_WIDTH: 767px
========================================================================== */

@media screen and(max-width:$break-small){
  .class-details .associated-course-wrap .inner-wrap{
    width: 100%;
  }

  .class-details {
    table {
      th, td {
        font-size: 0.9em;
      }
    }
    .detail-wrap {

      h2 {
        width: 100%;
        max-width: 100%;
        padding-right: 0px;
      }
    }
    .panel-default {
      margin: 0;
    }
  }
}