.coupon-landing {
  .course-type {
    color: #993030;
    font-size: 1.3em;
  }
  .course-group {



    .course-title {
      padding: 5px 0;
      display: block;
    }

    ul {
      list-style-type: square;

      li {
        margin-left: 30px;
      }
    }
  }
}