/******************************
           COURSE LISTING PAGE      
*******************************/

/* Courses
========================================================================== */

body .courses {
	background: $blue;
	overflow: hidden;
	margin-top: 0;
	@include border-top-radius(2px);

	.row{
		margin: 10px 0; 
	}



	h3{ 
	  color: #ccdeec;
    width: 100%;
    text-align: center;	
	}

	.all {
		@extend %circle-button;
		background-image: url(/img/erc/all-courses.png);
	}

	.webinars {
		@extend %circle-button;
		@extend %webinar-button;
	}

	.seminars {
		@extend %circle-button;
		@extend %seminar-button;
	}

	.cbt{
		@extend %circle-button;
		@extend %cbt-button;
	}

	label{	
	    @extend %label;
	   	padding: 15px 0; 
	}


	.icons-container {
		.main-class {
		  	width: 20% !important;

		  	.schedule {
			  	padding: 10px !important;
			  	line-height: 20px !important;
			}
		}
	}
	.course-filters-container {
		max-width: 1170px !important;
	}
}


/* Filters
========================================================================== */

.filters {
	background: $navyblue;
	@include inset-box-shadow(11px, 10px);
	@include border-bottom-radius(2px);
  	padding-bottom: 10px;

	.wrap {
		text-align:center;
	}

	label{
	    @extend %label;
	    padding: 0;
	    margin: 5px auto;
	    width: 100%;
	}

  	select {
	  font-size: 12px;
	}

	select, .search {
	    padding: 2px;
	    margin: 5px auto;	
	    height: 30px;
	  	border: 0;
    	border-radius: 2px;
		@extend %verdana-regular;
		@include set-width(275px);
	}

	#course_filter {
		text-align: center;
	}

	.go {
		margin: 44px auto 0 auto;
		background: $babyblue;
		font-size: 15px;
		@extend %regular-button;
		@include set-width(200px);
		width: 48%;
		padding: 8px;
		display: inline-block;
		text-align: center;
	    border-radius: 2px;
	}

}


/* Course Listings
========================================================================== */

.course-listings{
	margin-top: 15px;

	.content-wrapper-course{
		.container {
			max-width: 1300px;
		}
		//@include inset-box-shadow(1px, 28px);
	    margin: 0;

		&:first-child{
			box-shadow: none;
		}

		&:nth-child(odd){
			background-color: $lightblue;
		}

	}

	h4{
		font-weight: 600;
	}

	.row{
		position: relative;
		margin-top: 15px;
		margin-bottom: 15px;
	} 

	.column{
		position: initial;
	} 

	.com-based-training {
		background-image: url(/img/erc/computer-based-training.jpg);
		@extend %featured-image;
	}

	.hazardous-waste-management {
		background-image: url(/img/erc/hazardous-waste-management-n1.jpg);
		@extend %featured-image;
	}

	.hazardous-materials-transportation {
		background-image: url(/img/erc/hazardous-materials-transportation.jpg);	
		@extend %featured-image;
	}

	.environmental {
		background-image: url(/img/erc/environtmental-resource.jpg);		
		@extend %featured-image;
	}

	.safety {
		background-image: url(/img/erc/safety-seminars.jpg);
		@extend %featured-image;
	}

	.class-wrapper{
		margin: 0 0 15px 0;

		&:last-child{
			margin: 0;
		}
	}

	.class{
		text-transform: uppercase;
		@extend %segoe-bold;
		font-weight: normal !important;
	}

	a{
		@extend %regular-text;
		@extend %segoe-regular;
	  	color: $blue;

	  	&:hover {
		  	color: $blue;
		  	text-decoration: underline;
		}
	}

  	.subscription-container {
	  margin-top: 15px;

	  	a {
			margin-left: 10px;
			background: #00b7ff;
			font-size: 15px;
			width: 100%;
			max-width: 200px;
			padding: 8px;
			display: inline-block;
			text-align: center;
			border-radius: 2px;
			text-decoration: none;
			color: #fff;
	  	}
	}
}


/* MAX_WIDTH: 1200px
========================================================================== */ 
@media screen and(max-width:$break-large){

	.filters .go{
		width: auto;
	}
}	

/* MAX_WIDTH: 991px
========================================================================== */ 
@media screen and(max-width:$break-medium){

	.course-listings{ 
		.com-based-training ,
		.hazardous-waste-management ,
		.hazardous-materials-transportation ,
		.environmental ,
		.safety {
			margin: 0 auto;
			position:relative;
			height: 200px;
			width: 100%;
			top: 0;
			bottom: 0;
		}

		.content-wrapper{
			.course-list-wrapper {
			  	height: auto;
			}

		}
	}
	.course-listings h4 {
		margin-top: 10px;
	}
}

/* MAX_WIDTH: 767px
========================================================================== */

@media screen and(max-width:$break-small){

	 .courses{
		 .course-list-wrapper>div {
			 margin-left: -15px;
			 margin-right: -15px;
		 }

	 	text-align: center;

	   	 label {
			 text-align: center;
			 width: 100%;
		 }
		 .class-wrapper ul {
			 margin-top: 5px;
			 li {
				 padding: 5px 0;
				 border-top: 1px solid lightblue;
			 }
		 }
	 }

	 .filters {

		 box-shadow: none;

	 	label{
		 	width: 100%;
		 	text-align: center;
	 	}

	 	.go{
	 	    width: 100%;
    		display: block;
    		margin: 20px auto;	
	 	}
	 }

  	.subscription-container {
	   	a {
		  	margin-top: 10px;
		}
	}
}
