/******************************
          COURSE ATTENDEES PAGE
*******************************/

/* Course Attendees
========================================================================== */

.course-attendees-container {
    font-family: segoe ui, open sans, sans-serif;

  .page-header {
      border: 0;

      h3 {
          text-align: center;
      }
  }

  .attendees-list {
      width: 450px;
      margin: 0 auto;

      .panel-primary {
          margin-bottom: 5px;
          border-radius: 0px !important;

          .panel-heading {
              border-radius: 0px !important;
              background-color: #0158a2;

              a {
                  color: #fff;
              }
          }

          .panel-body {

              .info {
                  border: 1px solid #c5c5c5;
                  padding: 10px;
                  background-color: #f6f6f6;
                  font-size: 0.9em;

                  p {
                      display: inline;
                      line-height: 1.2em;
                  }

                  .block {
                      margin-left: 68px;
                  }
              }
          }
      }

      .transaction-buttons {
          margin: 20px auto;

          .blue-btn {
              border: 0px;
              border-radius: 2px;

              &:hover {
                  color: #fff;
              }
          }
      }

      .modal {

          #classModalLabel {
              font-size: 20px;
          }

          .match-found-text {
              border: 1px solid rgba(17, 17, 17, 0.2);
              padding: 15px;
              line-height: 28px;

              .options {
                  display: block;
              }
          }
      }
  }

  .yearly-subscription {
      width: 600px;
      margin: 0 auto;
  }

  .corporate-seats, .yearly-subscription {
      .table {
          border: 1px solid #c5c5c5;

          thead {
              tr {
                  th {
                      border: 1px solid #c5c5c5;
                      background: #cbcbcb;
                      text-align: center;
                  }
              }
          }

          tr {
              td {
                  text-align: center;
                  border-left: 1px solid #c5c5c5;
                  border-right: 1px solid #c5c5c5;
              }
          }
      }
  }

  ul.classes {
      margin-top: 15px;
  }
  ul.classes li {
      font-size: 0.9em;
      border-top: 1px solid #c5c5c5;
      margin: 0 -15px;
      padding: 10px;
  }
  ul.classes li label {
    cursor: pointer;
      line-height: 1.2em;
  }
  hr {
    margin: 10px 0;
  }
}

/* MAX_WIDTH: 991px
========================================================================== */

@media screen and(max-width:$break-medium){
    .course-attendees-container {
        .attendees-list {

            .panel-primary {

                .panel-heading {
                }

                .panel-body {

                    .info {

                        label {
                            font-size: 14px;
                        }
                    }
                }
            }

            .modal {

                label {
                    font-size: 14px;
                }
            }
        }
    }
}

/* MAX_WIDTH: 767px
========================================================================== */

@media screen and(max-width:$break-small){
    .course-attendees-container {
        .attendees-list {
            width: 100%;

            .panel-primary {

                .panel-heading {
                }

                .panel-body {

                    .info {

                        label {
                            font-size: 14px;
                        }
                    }
                }
            }

            .modal {

                label {
                    font-size: 14px;
                }
            }
        }

        .yearly-subscription {
            width: 100%;
        }
    }
}