/* Course Details
========================================================================== */ 

.course-details{

	max-width: 1200px;
	margin: 0 auto;

	h2.title {
		color: #0486cc;
		font-size: 1.8em;
		margin-top: 15px;
	}

	.related-course-list {
		li {
			padding: 10px 0;
			border-bottom: 1px solid #f6f6f6;
		}
		li:first-child {
			padding-top: 0;
		}
		li:last-child {
			border-bottom: none;
			padding-bottom: 0;
		}
	}

	.button-wrap {
		text-align: right;
	}

	.panel-primary > .panel-heading {
		background-color: #0158a2;
	}

	div.desc {
		line-height: 1.5em;
		padding: 15px 0;
		text-align: justify;

		ul, ol {
			list-style: inherit;
			padding-left: 50px;
		}

	}

  	.details-container {
	  	border: 1px solid #c5c5c5;

	  	.details-header {
		  	img {
			  width: 100%;
			  height: 100%;
			}
		}

	  	.details {
			padding: 10px 15px;
			height: 270px;

			.dl-horizontal {
				dt {
					color: #337ab7;
					width: 80px;
					float: left;
					overflow: hidden;
					clear: left;
					text-align: left;
					text-overflow: ellipsis;
					white-space: nowrap;
					font-weight: bold;
				}

				dd {
					padding-bottom: 5px;
					margin-left: 90px;
					text-align: left;
					&.more-info {
						height: 100px;
						overflow-y: auto;
					}
				}
		  }
	  	}
	}

  	.dates-container {
		border: 1px solid #c5c5c5;

		.dates-header {
			img {
				width: 100%;
				height: 100%;
			}
		}

		.dates-body {
			height: 270px;
		}

	  	.table {
		  	thead {
			  	tr {
				  	display: none;
				}
			}
		}
	}

  	.related-course-container {
	  	border: 1px solid #c5c5c5;

	  	.related-course-header {
		  	img {
			  	width: 100%;
			  	height: 100%;
			}
		}
	  
	  	.panel {
		  	border: 0 !important;
		  	box-shadow: none;
			height: 270px;

				.panel-body {
					height: 270px;
					overflow-y: auto;
				}

		}
	}

	.schedule-container {
		border: 1px solid #c5c5c5;


		.schedule-header {
			img {
				width: 100%;
				height: 100%;
			}
		}

		.panel {
			height: 270px;
			border: 0 !important;
			box-shadow: none;
		}
	}

	.table>thead>tr>th
	{ border: 1px solid #c5c5c5; }

	table {
		margin: 0;

		th {
			text-align: center;
			background-color: #cbcbcb;
		}
		td {
			text-align: center;
		}
	}
	table>tbody>tr:nth-of-type(even) {
		background-color: #f6f6f6;
	}

	.more-info-box { display: none; font-size: 0.9em; }

}


/* MAX_WIDTH: 991px
========================================================================== */

@media screen and(max-width:$break-medium){
	.course-details{

		.inner {
			padding: 0;
		}
		.button-wrap {
			text-align: center;
		}

	  	.details-container {

	  	}

		.dates-container {
			margin-top: 20px;
		}

		.related-course-container {

		}

		.schedule-container {
		  margin-top: 20px;
		}
	}
}

/* MAX_WIDTH: 767px
========================================================================== */

@media screen and(max-width:$break-small){
	.course-details {

	}
}

@media screen and(max-width:375px){
  .course-details {
	  .details-container {
		  .details {

			  .dl-horizontal {

				  dd {
					  &.more-info {
						height: 60px;
					  }
				  }
			  }
		  }
	  }
  }
}