.select-filter{
	margin-bottom: 30px;	
	padding: 5px;
	background: $blue;
	overflow: hidden;
	@include border-radius(5px);

	label{
		display:none;
	}

	.form-group {
		margin: 0;
		padding: 5px;
	}
} 

.daily-post-wrapper{
	margin-bottom: 30px;
	border: 1px solid $ashgray;
	text-align: left;
	overflow: hidden;
	padding: 0;
	color: $white;
	@include border-radius(5px);
	@extend %segoe-regular;

	.title-container{
		background: $navyblue;
		padding: 10px;
		@include border-top-radius(5px);
		
		a{
			color: $white;
			font-weight: 700;
		}

	}

	.date-container{
		background: $blue;
		padding: 10px;

		span{
			font-style: italic;
		}
		
	}

	.category-container{
		background: $iconblue;
		padding: 10px;
	}

	.summary-container{
		padding: 10px; 
		border-top: 5px solid $lightblue;
		@include border-bottom-radius(5px);

		p{
			color: $gray;
		}

		.btn{
			background: $babyblue;
			display: block;
			margin: 15px auto 5px auto;
			padding: 5px;
			@extend %regular-button;
			@include set-width(150px);
		}
	}
}