/******************************
          LOGIN PAGE & REGISTER PAGE    
*******************************/


/* LOGIN
========================================================================== */

section.login {
	background: url(/img/erc/login-background.jpg) no-repeat;
	background-size: cover;
}

.login {

	.form-group{
		text-align:center;
		padding: 0 15px;
	}

	.authentication-top{
		padding: 100px 0 0 0;
	}

	.authentication-bottom{
		padding: 0 0 100px 0;
	}

	.panel-inner, .panel-default{
		border: none;	
	}

	.panel-default{
		background: transparent;
		border-radius: 0;
		overflow: hidden;
		margin: 0 auto;
		@include set-width(495px);

		span{
			@extend %form-regular-label;
			color: $babyblue;
		}

		.btn{
			color: $white;
			vertical-align:baseline;
			@extend %form-regular-label;

			&:first-child{
				width: 100%;
			}
		}
	}

	.panel-heading{
		font-size: 32px;
	  	padding-top: 35px;
		background-color: #0158a2 !important;
		@extend %panel-heading;
		@extend %label;
		@include border-top-radius(2px);
	}

	.panel-body{
		background: $blue;

		label{
		  	@include set-width(340px);
			@extend %form-label;
		  	text-align: left;
		  	font-size: 16px;
		}

		input{
			@include set-width(340px);
			margin: 0 auto;
		  	border-radius: 2px;
		}
	}

	.checkbox {
		input{
			position: relative;
			width: auto;
		}

		label{
			margin-bottom: 0;
		}
	}

	.panel-footer{
		@include set-width(495px);
		@extend %form-footer;
		color: #FFF;

	  	.btn-link, span {
			font-size: 15px;
		  	color: #00b7ff;
	  	}
		.sign-up-msg {
			line-height: 1.2em;
		}
	}

  	.reset-password-modal {

	  	.modal-dialog {
		  	width: 380px;

		  	.modal-content {
			  color: $white;
			  background: $blue;

			  input {
				  font-weight: 200 !important;
				  padding: 5px;
				  @extend %form-regular-label;
			  }

			  .note {
				  font-family: sans-serif;
				  font-weight: 100;
				  font-size: 14px;
				  margin: 20px 0 20px 0;
			  }

			  .btn-block {
				  margin-top: 10px;
				  padding: 8px;
				  text-transform: uppercase;
				  background: #00b7ff;
				  border: 0px;
				  @extend %form-regular-label;
			  }

			  .alert {
				  padding: 10px;
				  @extend %segoe-regular;
				  font-weight: 300;
			  }

			}
		}
	}
} 

/* REGISTER
========================================================================== */
body .register{
	padding: 155px 0 155px 0;
	position: relative;

	form{
		@include set-width(745px);	
		margin: 0 auto;	
	}

	.authentication-top{
		position: absolute;
    	left: 0;
   		top: 0;
   		height: 490px;
  	 	width: 100%;
 		background: url(/img/erc/environment-hazard.jpg) center;
 		background-size: cover;
	}

	.form-group{
		text-align:center;
		padding: 0 15px;

	  	.help-text {
			width: 100%;
			font-size: 12px;
			color: #fff;
			text-align: left;
			padding: 0;
			margin-top: 5px;
		}
	}

	.panel-inner, .panel-default{
		border: none;	
	}

	.panel-default{
		background: transparent;
		border-radius: 0;
		overflow: hidden;
		margin: 0 auto;
		border: 0;
	}

	.panel-body{
		background: $blue;

		label{
			@extend %form-label;
			text-align: left;
		  	font-size: 16px;
		}

		input{
			margin: 0 auto;
		  	border-radius: 2px;
		}
	}

	.panel-heading{
		font-size: 32px;
	  	padding-top: 35px;
		@extend %panel-heading;
		@extend %label;
		@include border-top-radius(2px);
	}

	.panel-footer{
		@extend %form-footer;
	}


	.phone{
		.form-group{
		    width: 19%;
		    padding: 0;
		    margin: 0 1% 0 0;
 		   	float: left;
    		height: 34px;
		}

		.glyphicon{
			padding-top: 8px;
		}
		
	}

	.fax{
		.form-group{
			width: 32.33%;
			margin: 0 0 0 1%;
		   	float: left;	
		   	padding: 0;
		}
	}

    .g-recaptcha {
	  	margin: 0 auto;
	  	width: 302px;
	}
}


/* MAX_WIDTH: 767px
========================================================================== */

@media screen and(max-width:$break-small){

  	.login {
	  	.reset-password-modal {

		  	.modal-dialog {
				width: inherit;
		  	}
	  	}
	}

	.register{
		.phone, .fax{
			.form-group{
			    width: 100%;
			    margin: 0 0 15px 0;
			}
		}
	}

}