header {
	background: #00b7ff;
	.header {
		padding: 10px 0;
		max-width:1000px;
		margin: 0px auto;

		.logo-social-search {

			.full-width {
				width: 415px;
			}

			.right {
				width: 295px;
				position: relative;

				.contact {
					text-align: right;
					color: #fff;
					font-weight: 700;
					font-size: 26px;
					margin-bottom: 5px;
				}

				.social-search {
					.icons {
						width: 45%;
						float: left;

						img {
							width: 30px;
							height: 30px;
						}
					}

					.input-group {
						border: 2px #0158a2 solid;
						width: 55%;
						float: right;

						.search {
							height: 28px;
							border: 0;
							border-radius: 0;
						}

						.btn {
							height: 28px;
							border: 0;
							border-radius: 0;

							.fa-search {
								position: relative;
								bottom: 2px;
							}
						}
					}
				}
			}
		}

		#navbar {
			padding-right: 0 !important;
			padding-left: 0 !important;
			margin-top: 0px;

			.nav {
				width: 100%;
				background: rgba(27, 39, 152, 0.2);
				border-radius: 10px;
				border: 1px solid rgba(149, 153, 189, 0.2);

				li.navbar-menu-auth {

					width: 150px;
					float: right;

					> a {
						background: #0158a2;
						border-radius: 10px;
						line-height: 1em;
						margin-top: 2px;
					}

				}

				li {
					text-align: center;

					a {
						color: #fff;
						padding-top: 10px !important;
						padding-bottom: 10px !important;

						&:hover, &:focus {
							text-decoration: none;
							background: rgba(27, 39, 152, 0.2);
							border-radius: 10px;
						}
					}

					.dropdown-menu {
						background: rgba(51, 56, 99, 0.8);
						border: 1px solid rgba(149, 153, 189, 0.2);

						a {
							&:hover {
								text-decoration: none;
								background: none;
							}
						}
						li {
							text-align: left;
						}
					}
				}
			}
		}
	}
}

/* NAVBAR
========================================================================== */

.navbar {

	margin-bottom: 0px !important;

	.navbar-collapse{
		//margin: 25px 0 0 0;
		overflow: initial;
		clear:both;
		margin-top: -25px;
	}

	.navbar-toggle {
		padding: 20px;

		.icon-bar{
			background: $white;
		}
	}

	img {
		margin: 10px 0 0 10px;

		&.non-full-size {
			display: none;
		}
	}

}

/* MAX_WIDTH: 991px
========================================================================== */
@media screen and(max-width:$break-medium){
	a.brand{
		margin-top: 0;
	}

	.navbar {

		.navbar-header {
			width: 20%;
		}
	}
}


@media (min-width:768px) and (max-width:900px) {
	header {
		.header {
			#navbar {
				.nav > li > a {
					padding-left: 9px !important;
					padding-right: 9px !important;
					font-size: 0.9em;
				}
			}
		}
	}
}

/* MAX_WIDTH: 767px
========================================================================== */

@media screen and(max-width:$break-small){
	header {
		.header {
			min-width: 100%;

			.logo-social-search {
				display: none;
			}
			#navbar {
				.nav {
					li.navbar-menu-auth {

						width: 100%;
						float: none;

						> a {
							background: #0158a2;
							border-radius: 10px;
							line-height: 1em;
							margin-top: 2px;
						}

					}
				}
			}

		}
	}

	.navbar{
		margin-top: 0;

		.top-nav-container {
			padding: 0;

			.main-container {
				padding: 0;

				.navbar-header {
					width: 100%;
				}

				.navbar-collapse {
					float: none;
					padding: 0;

					ul {
						float: none;
						margin: 0;
						padding: 0;

						li {
							width: 100%;
						}

					}

					a {
						width: 100%;
						border-bottom: none;
						text-align: center;
					}

					.dropdown-menu {
						position: relative;
						top: 0px;
					}
				}

				.row {
					width: 100%;
					margin: 0;

					.navbar-toggle {
						margin-top: 10px;
						margin-bottom: 10px;
					}


					.brand {
						height: 75px;
						position: relative;

						.full-size {
							display: none;
						}

						.non-full-size {
							display: block;
							max-width: 100%;
							width: auto;
							height: auto;
							position: absolute;
							top: 0;
							bottom: 0;
							left: 10px;
							right: 0;
							margin: auto;
						}
					}
				}
			}
		}
	}


	#search {

		.input{
			width:154px;
		}

		.submit{
			width:50px;
		}
	}

	.social-search-container{
		padding-left: 0;
		float:none !important;
		width:100%;
		overflow: hidden;
	}

}