html, body{
  height: 100%;
}

.mobile-container {
    display: none;
}

.home-container {
    position: absolute;
    content: " ";
    top: 0px;
    left: 0%;
    right: 0px;
    bottom: 0px;
    background-image: url(/img/erc/homepage/environmental-resource-center-background-1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    height: 1780px;

    .content {
        width: 1000px;

        .header {
            margin-top: 5px;

            .logo-social-search {

                .full-width {
                    width: 415px;
                }

                .right {
                    width: 295px;
                    position: relative;

                    .contact {
                        text-align: right;
                        color: #fff;
                        font-weight: 700;
                        font-size: 26px;
                        padding-bottom: 5px;
                        text-shadow: 1px 1px 2px #333;
                    }

                    .social-search {
                        .icons {
                            width: 45%;
                            float: left;

                            img {
                                width: 30px;
                                height: 30px;
                            }
                        }

                        .input-group {
                            border: 2px #0158a2 solid;
                            width: 55%;
                            float: right;

                            .search {
                                height: 28px;
                                border: 0;
                                border-radius: 0;
                            }
                            
                            .btn {
                                height: 28px;
                                border: 0;
                                border-radius: 0;

                                .fa-search {
                                    position: relative;
                                    bottom: 2px;
                                }
                            }
                        }
                    }
                }
            }

            #navbar {
                padding-right: 0 !important;
                padding-left: 0 !important;
                margin-top: 5px;

                .nav {
                    width: 100%;
                    background: rgba(27, 39, 152, 0.2);
                    border-radius: 10px;
                    border: 1px solid rgba(149, 153, 189, 0.2);

                    li {
                        width: 14%;
                        text-align: center;
                        &.navbar-menu-auth {
                            width: 150px;
                        }

                        a {
                            color: #fff;
                            padding-top: 10px !important;
                            padding-bottom: 10px !important;

                            &:hover, &:focus {
                                text-decoration: none;
                                background: rgba(27, 39, 152, 0.2);
                                border-radius: 10px;
                            }
                        }

                        .dropdown-menu {
                            background: rgba(51, 56, 99, 0.8);
                            border: 1px solid rgba(149, 153, 189, 0.2);

                            a {
                                &:hover {
                                    text-decoration: none !important;
                                    background: none;
                                }
                            }
                        }
                    }
                }
            }
        }


        .categories {
            margin-top: 20px;
            position: relative;
            height: 400px;

            .course-category:hover {
                z-index: 5!important;
            }

            .course-category {
                height: 300px;
                width: 200px;
                -webkit-box-shadow: -1px 0px 19px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: -1px 0px 19px 0px rgba(0,0,0,0.75);
                box-shadow: -1px 0px 19px 0px rgba(0,0,0,0.75);
                transform-style: preserve-3d;

                .icon {
                    position: absolute;
                    top: 45%;
                    left: 20%;
                    color: #fff;
                    text-transform: uppercase;
                    font-weight: 500;
                    transform: translateZ(20px);

                    span {
                        text-align: center;
                        display: block;
                    }
                }
            }

            .onsite-training {
                position: absolute;
                content: " ";
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                background-image: url(/img/erc/homepage/onsite-bg.jpg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 100%;
                -webkit-background-size: 100%;
                -moz-background-size: 100;
                -o-background-size: 100;
                z-index: 1;
            }

            .cbt {
                position: absolute;
                content: " ";
                top: 35px;
                left: 190px;
                right: 0px;
                bottom: 0px;
                background-image: url(/img/erc/homepage/cbt-bg.jpg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 100%;
                -webkit-background-size: 100%;
                -moz-background-size: 100;
                -o-background-size: 100;
                z-index: 2;
            }

            .seminar {
                position: absolute;
                content: " ";
                top: 70px;
                left: 383px;
                right: 0px;
                bottom: 0px;
                background-image: url(/img/erc/homepage/seminar-bg.jpg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 100%;
                -webkit-background-size: 100%;
                -moz-background-size: 100;
                -o-background-size: 100;
                z-index: 3;
            }

            .webcast {
                position: absolute;
                content: " ";
                top: 35px;
                left: 575px;
                right: 0px;
                bottom: 0px;
                background-image: url(/img/erc/homepage/webcast-bg.jpg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 100%;
                -webkit-background-size: 100%;
                -moz-background-size: 100;
                -o-background-size: 100;
                z-index: 2;
            }

            .consulting {
                position: absolute;
                content: " ";
                top: 0px;
                right: 0px;
                bottom: 0px;
                background-image: url(/img/erc/homepage/consulting-bg.jpg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 100%;
                -webkit-background-size: 100%;
                -moz-background-size: 100;
                -o-background-size: 100;
                z-index: 1;
            }
        }

        .mid-content {
            position: relative;
            height: 432px;

            .testimonials {
                width: 50%;
                float: left;
                margin-top: 40px;

                .customer {

                    &:not(:first-child) {
                        margin-top: 90px;
                    }

                    .cloud {
                        width: 90%;
                        font-size: 16px;
                        padding: 15px;
                        font-weight: 600;
                        color: #424242;
                        border: 2px #0e60a6 solid;
                        border-radius: 5px;
                        line-height: 1;
                        position: relative;
                        background: #fff;
                        padding-left: 30px;

                        &:before {
                            position: absolute;
                            content: " ";
                            width: 0px;
                            height: 0px;
                            border-width: 9px;
                            border-style: solid;
                            border-color: #0e60a6 #0e60a6 transparent transparent;
                            top: 100%;
                            left: 215px;
                        }

                        blockquote {
                            border:none;
                            font-family:Georgia, "Times New Roman", Times, serif;
                            margin-bottom:-30px;
                            position: relative;
                            max-width: 400px;
                            margin: 0 auto;
                            padding-left: 0.4em;
                        }

                        blockquote h3 {
                            font-size: 18px;
                        }

                        blockquote h3:before {
                            content: "\201C";
                            font-weight: bold;
                            font-size: 50px;
                            color: rgba(141, 193, 232, 0.44);
                            position: absolute;
                            top: -0.2em;
                            left: -0.5em;
                        }
                        blockquote h3:after {
                            content: "\201D";
                            font-weight: bold;
                            font-size: 50px;
                            color: rgba(141, 193, 232, 0.44);
                            position: absolute;
                            bottom: -0.6em;
                            right: 0;
                        }
                    }

                    .author-container {
                        width: 90%;

                        .author {
                            background: #0e60a6;
                            padding: 10px;
                            width: 195px;
                            margin-top: 10px;
                            color: #fff;
                            float: right;
                            
                            span {
                                display: block;
                                text-align: right;
                            }
                            
                            .company {
                                font-weight: 700;
                            }
                        }
                    }
                }
            }

            .promotion {
                width: 50%;
                float: right;
                margin-top: 40px;
                
                img {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }
            }
        }

        .pages-icon {
            margin-top: 50px;

            .page-icon {
                width: 190px;
                display: inline-block;

                a {
                    height: 100%;
                    display: inline-block;
                    border: 5px solid #00b7ff;
                    border-radius: 15px;
                    margin-left: 10%;
                    background: #fff;

                    img {
                        margin: 5px 20px;
                        height: 70px;
                    }
                }

                .title {
                    display: block;
                    text-transform: uppercase;
                    text-align: center;
                    margin-top: 5px;
                    font-weight: 700;
                }
            }

            .videos {
                position: relative;
                bottom: 20px;
            }
        }

        .news {
            margin-top: 50px;

            .slick-prev {
                left: -45px !important;
                &:before {
                    font-size: 35px !important;
                    opacity: 1 !important;
                }
            }

            .slick-next {
                right: -32px;
                &:before {
                    font-size: 35px !important;
                    opacity: 1 !important;
                }
            }

            /* the slides */
            .slick-slide {
                margin-left: 27px;
            }

            /* the parent */
            .slick-list {
                margin-left: -27px;
            }

            .slick-arrow {
                z-index: 100;
            }

            .slick-active {
                -webkit-box-shadow: -1px 0px 19px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: -1px 0px 19px 0px rgba(0,0,0,0.75);
                box-shadow: -1px 0px 19px 0px rgba(0,0,0,0.75);
            }
            
            .article {
                width: 30%;
                background: #fff;
                height: 500px;

                .header {
                    margin-top: 0px !important;
                    position: relative;
                    height: 200px;
                    background-size: cover;

                    .date-container {
                        position: absolute;
                        height: 100px;
                        width: 100%;

                        .date {
                            background: #0158a2;
                            z-index: 1000;
                            height: 70%;
                            width: 25%;
                            float: right;

                            .month-day {
                                height: 70%;
                                padding: 5px;
                                text-align: center;

                                span {
                                    display: block;
                                    color: #fff;
                                }

                                .day {
                                    font-size: 30px;
                                }

                                .month {
                                    font-size: 15px;
                                }
                            }

                            .year {
                                color: #fff;
                                text-align: center;
                                font-size: 15px;
                                background: #00b7ff;
                                margin-top: 2px;
                                padding: 2px 0;
                            }
                        }
                    }

                    img {
                        width: 100%;
                        height: 200px;
                    }
                }

                .article-content {
                    padding: 15px;

                    .title {
                        height: 40px;
                        line-height: 20px;
                        overflow: hidden;

                        h3 {
                            font-size: 20px;
                            font-weight: 700;
                        }
                    }

                    .category {
                        height: 30px;

                        span {
                            color: #5555d4;
                        }
                    }

                    .story {
                        line-height: 20px;
                        color: #909090;
                        height: 180px;
                    }
                }

                .footer {
                    height: 35px;

                    .socials {
                        width: 50%;
                        float: right;
                        text-align: right;
                        
                        i {
                          font-size: 20px;
                          color: #c1c1c1;
                        }

                    }
                }
            }
        }
    }

    #footer {
        >.row {
            max-width: 1000px;
            margin: 0 auto;
        }
        background: #0158a2;
        text-align: center;
        padding: 15px 0;
        color: #FFF;
        font-size: 0.8em;
        line-height: 1.3em;
        h3.phone {
            text-align: right;
            margin-top: 15px;
            a {
                color: #FFF;
            }
        }
        ul {
            padding-bottom: 10px;
            li {
                display: inline-block;
                padding: 0 10px;
                border-left: 2px solid #fff;

                &:first-child {
                    border-left: none;
                }

                a {
                    color: #fff;
                }
            }
        }
        pre {
            background: none;
            text-align: left;
            color: #FFF;
            overflow: hidden;
        }


    }
}

/* MAX_WIDTH: 991px
========================================================================== */

@media screen and(max-width:$break-medium){
    .home-container {
        width: 1100px;
    }
}

/* MAX_WIDTH: 767px
========================================================================== */

@media screen and(max-width:$break-small){
    html, body {

        .home-container {
            display: none !important;
        }

        .mobile-container {
            display: block;
            background-image: url(/img/erc/homepage/environmental-resource-center-background-mobile-1.png);
            background-repeat:  no-repeat;
            background-color: #999;
            background-size: auto 100%;
            -webkit-background-size: auto 100%;
            -moz-background-size: auto 100%;
            -o-background-size: auto 100%;

            .header {
                .navbar {
                    .navbar-header {
                        .navbar-toggle {
                            background: rgba(27, 39, 152, 0.7);
                            width: 40px;
                            margin-right: 10px;
                            padding: 10px !important
                        }

                        .contact {
                            color: #fff;
                            font-size: 20px;
                            font-weight: 700;
                            padding: 15px 15px 0;
                            text-align: center;
                        }

                        .mobile-size {
                            max-width: 100%;
                            margin: 0 !important;
                        }
                    }

                    .navbar-collapse {
                        width: 100%;
                        background: rgba(20, 26, 76, 0.8);
                        border: 1px solid rgba(149, 153, 189, 0.2);
                        margin: 0px;
                        position: absolute;

                        a {
                            color: #fff;
                            font-size: 16px;
                            font-weight: 700;

                            &:hover, &:focus {
                                text-decoration: none;
                                background: rgba(27, 39, 152, 0.2);
                                border-radius: 10px;
                            }
                        }
                    }
                }
            }

            .categories {
                padding: 0 15px;

                .course-category {
                    height: 105px;
                    width: 100%;
                    box-shadow: -1px 0px 19px 0px rgba(0, 0, 0, 0.75);
                    background-repeat: no-repeat;
                    cursor: pointer;
                    background-position: 0% 0%;
                    background-size: cover;
                    .gradient {
                        background-image: linear-gradient(to bottom right,#0158a2,rgba(220, 66, 37, 0.88));
                        height: 100%;
                        width: 55%;
                    }

                    &:not(:first-child) {
                        margin-top: 10px;
                    }
                }

                div.onsite-training {
                    background-image: url(/img/erc/homepage/onsite-bg.png);
                }

                div.cbt {
                    background-image: url(/img/erc/homepage/cbt-bg.png);
                }

                div.seminar {
                    background-image: url(/img/erc/homepage/seminar-bg.png);
                }

                div.webcast {
                    background-image: url(/img/erc/homepage/webcast-bg.png);
                }

                div.consulting {
                    background-image: url(/img/erc/homepage/consulting-bg.png);
                }
            }

            .mid-content {
                padding: 0 15px;

                .testimonials {
                    margin-top: 40px;

                    .customer {

                        &:not(:first-child) {
                            margin-top: 80px;
                        }

                        .cloud {
                            width: 100%;
                            font-size: 16px;
                            padding: 15px;
                            font-weight: 600;
                            color: #424242;
                            border: 1px #fff solid;
                            border-radius: 5px;
                            line-height: 1;
                            position: relative;
                            background: #fff;
                            padding-left: 30px;

                            &:before {
                                position: absolute;
                                content: " ";
                                width: 0px;
                                height: 0px;
                                border-width: 9px;
                                border-style: solid;
                                border-color: #fff #fff transparent transparent;
                                top: 100%;
                                left: 50%;
                            }

                            h3 {
                                font-size: 20px;
                            }
                        }

                        .author-container {
                            .author {
                                background: #0e60a6;
                                padding: 10px;
                                width: 195px;
                                margin-top: 10px;
                                color: #fff;
                                float: right;
                                text-align: right;
                            }
                        }
                    }
                }

                .promotion {
                    margin-top: 90px;

                    img {
                        width: 100%;
                        cursor: pointer;
                    }
                }
            }

            .pages-icon {
                margin-top: 40px;
                padding: 0 15px;
                overflow: hidden;

                .page-icon {
                    width: 46%;
                    display: inline-block;
                    text-align: center;
                    font-weight: 700;
                    font-size: 18px;
                    padding-bottom: 55px;

                    a {
                        width: 100%;
                        height: 100%;
                        display: inline-block;
                        border: 5px solid #00b7ff;
                        border-radius: 15px;
                        background: #fff;

                        img {
                            width: 100%;
                        }
                    }
                }
            }

            .news-mobile {
                margin-top: 40px;
                padding: 0 15px;
                position: relative;

                /* the slides */
                .slick-slide {
                    margin-left: 0 !important;
                }

                /* the parent */
                .slick-list {
                    margin-left: 0 !important;
                }

                .slick-arrow {
                    display: none !important;
                }

                .slick-track {
                    padding: 0 !important;
                    margin: 0 !important;
                }

                .slick-active {
                    -webkit-box-shadow: -1px 0px 19px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: -1px 0px 19px 0px rgba(0,0,0,0.75);
                    box-shadow: -1px 0px 19px 0px rgba(0,0,0,0.75);
                }
                
                .article {
                    width: 100%;
                    background: #fff;
                    height: 100%;

                    .header {
                        margin-top: 0px !important;
                        position: relative;
                        height: 200px;
                        background-size: cover;

                        .date-container {
                            position: absolute;
                            height: 100px;
                            width: 100%;

                            .date {
                                background: #0158a2;
                                z-index: 1000;
                                height: 70%;
                                width: 25%;
                                float: right;

                                .month-day {
                                    height: 70%;
                                    padding: 5px;
                                    text-align: center;

                                    span {
                                        display: block;
                                        color: #fff;
                                    }

                                    .day {
                                        font-size: 30px;
                                    }

                                    .month {
                                        font-size: 15px;
                                    }
                                }

                                .year {
                                    color: #fff;
                                    text-align: center;
                                    font-size: 15px;
                                    background: #00b7ff;
                                    margin-top: 2px;
                                    padding: 2px 0;
                                }
                            }
                        }

                        img {
                            width: 100%;
                            height: 300px;
                        }
                    }

                    .article-content {
                        padding: 15px;

                        .title {

                            h3 {
                                font-size: 20px;
                                font-weight: 700;
                            }
                        }

                        .category {
                            height: 30px;

                            span {
                                color: #5555d4;
                            }
                        }

                        .story {
                            line-height: 20px;
                            color: #909090;
                            height: 180px;
                        }
                    }

                    .footer {
                        height: 35px;

                        .socials {
                            width: 50%;
                            float: right;
                            text-align: right;

                            i {
                                font-size: 20px;
                                color: #c1c1c1;
                            }
                        }
                    }
                }
            }

            footer {
                background: #0158a2;
                text-align: center;
                padding: 30px 0;
                margin-top: 30px;

                .container {

                    ul {

                        li {
                            text-align: center;
                            display: block;
                            line-height: 25px;
                            border: none !important;

                            a {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* MAX_WIDTH: 767px
========================================================================== */

@media screen and(max-width:$break-mobile-l){

    .home-container {
        .news {
            display: none;
        }
    }
        
    .mobile-container {
       
        .pages-icon {
            height: 15% !important;

            .page-icon {
                font-size: 16px !important;
            }
        }

        .news-mobile { 
        
            .article {
                //height: 500px !important;
            }
        }
    }

    #footer {
        margin-top: 15px;
        >.row {
            max-width: 1000px;
            margin: 0 auto;
        }
        background: #0158a2;
        text-align: center;
        padding: 15px 0;
        color: #FFF;
        font-size: 0.8em;
        line-height: 1.3em;
        h3.phone {
            text-align: center;
            margin-top: 15px;
            a {
                color: #FFF;
            }
        }
        ul {
            padding-top: 10px;
            padding-bottom: 10px;
            li {
                display: inline-block;
                padding: 0 10px;
                border-left: 2px solid #fff;

                &:first-child {
                    border-left: none;
                }

                a {
                    color: #fff;
                }
            }
        }
        pre {
            background: none;
            text-align: center;
            color: #FFF;
            overflow: hidden;
        }


    }

}





