.modal {
  div {
    label {
      font-size: 0.9em;
    }
  }
  .table {
    td {
      label,span {
        font-size: 0.9em;
      }
    }
  }
}
/* MAX_WIDTH: 991px
========================================================================== */
@media screen and(max-width:$break-medium){
  .modal {
    .modal-body {
      .form-group {
        padding: 0;
      }
      label {
        padding: 0 0 5px;
      }
    }
  }
}
