/******************************
           PLACEHOLDERS       
*******************************/

/* GLOBAL
========================================================================== */

%regular-text{
	font-size: 16px;
	line-height: 20px;
	color: $gray;
	@extend %segoe-regular;
}

%share-icon {
    height: 30px;
    width: 30px;
    background-size: 100% 100%;
    display: block;	
}


%circle-button{
	width: 60px;
	height: 60px;
	border: 4px solid $white;
	display: inline-block;
	margin: 0 auto;
	border-radius: 50%;
	background:center no-repeat $babyblue;	
	background-size: 80%;	
}

%regular-button{
	@extend %segoe-bold;
	@include border-radius(2px);
	color: $white;
	padding: 10px;
	border: 0;
	font-size: 20px;
	display: block;
	margin: 0 auto;
	text-transform: uppercase;	
    word-break: break-word;
    white-space: normal;	
}

%row-margin{
	margin-top: 20px;
	margin-bottom: 30px;
}



/* Course Listings
========================================================================== */

%featured-image {
	width: 100%;
    position: relative;
    margin-top: 30px;
    bottom: 0;
    left: 0;
	height: 315px;
    background-size: cover;
    background-position: center;
    @include border-radius(2px);
    border-radius: 2px;
}


/* FORMS
========================================================================== */
%label {
	font-size: 16px;
	line-height:30px;
	display: inline-block;
	text-align: center;
	color: $white;
	vertical-align: top;
	@extend %segoe-light;
}

%form-label{
	width: 100%;
	text-align:center;
	color: $white;
	font-size: 18px;
	padding: 0;
	margin-bottom: 15px;
}

%form-regular-label{
	font-size: 18px;
	white-space: normal;
	padding: 0;
	@extend %segoe-regular;		
}


%form-footer{
	background: $navyblue;
	text-align: center;	
	margin: 0 auto;
	padding-top: 30px;
	@include inset-box-shadow(11px, 10px);
	@include border-bottom-radius(2px);

	.btn{
		color: $white;
		background: $babyblue;
		font-size: 24px;
		white-space: normal;
		text-transform: uppercase;
		padding: 5px;		
		@extend %regular-button;
		@extend %segoe-bold;	
		@include set-width(212px);
	}

	.form-group{
		margin: 15px 0;
	}	
}


%panel-heading{
	background-color: $blue;
	width:100%;
	color: $white;
}


/* BUTTONS
========================================================================== */

%seminar-button{
	background-image: url(/img/erc/seminar-course.png);
}


%webinar-button{
    background-image: url(/img/erc/webinar-course.png);
}

%cbt-button{
	background-image: url(/img/erc/cbt-course.png);
}

%class-sched-button{
	background-image: url(/img/erc/class-sched.png);
}

%calendar-button{
	background-image: url(/img/erc/calendar.png);
}

%register-button{
	background-image: url(/img/erc/register.png);
}

%forums-button{
	background-image: url(/img/erc/forums.png);
}