.container {
  .news-contact-container {
    padding: 10px 0;
    background: #0158a2;

    .news-wrapper {
      max-width: 950px;
      margin: 0 auto;
      .post-news {
        overflow: hidden;
        clear: both;
        margin: 0 auto;

        .news, .news-mobile {
          margin-top: 15px;


          .article {
            margin: 10px;
            background: #fff;
            cursor: pointer;

            .header {
              margin-top: 0px !important;
              position: relative;
              height: 150px;
              background-size: cover;

              .date-container {
                position: absolute;
                height: 100px;
                width: 100%;

                .date {
                  background: #015fa2;
                  z-index: 1000;
                  height: 70%;
                  width: 25%;
                  float: right;

                  .month-day {
                    height: 70%;
                    padding: 5px;
                    text-align: center;

                    span {
                      display: block;
                      color: #fff;
                    }

                    .day {
                      font-size: 30px;
                    }

                    .month {
                      font-size: 15px;
                    }
                  }

                  .year {
                    color: #fff;
                    text-align: center;
                    font-size: 15px;
                    background: #00b7ff;
                    margin-top: 2px;
                    padding: 2px 0;
                  }
                }
              }

              img {
                width: 100%;
                height: 200px;
              }
            }

            .article-content {
              padding: 15px;

              .title {
                line-height: 20px;

                h3 {
                  font-size: 20px;
                  font-weight: 700;
                }
              }

              .category {
                height: 30px;

                span {
                  color: #5555d4;
                }
              }

              .story {
                line-height: 20px;
                color: #909090;
                height: 180px;
              }
            }

            .footer {
              height: 35px;

              .socials {
                width: 50%;
                float: right;
                text-align: right;

                i {
                  font-size: 20px;
                  color: #c1c1c1;
                }
              }
            }
          }
        }
      }

      .contact {
        overflow: hidden;
        clear: both;
        margin-bottom: 20px;
        margin-top: 8px;
        .col-panel {
          text-align: center;
          color: #FFF;
          height: 170px;
          position: relative;
          border-radius: 10px;
          overflow: hidden;
        }
        .text {
          height: 120px;
          position: relative;
          background-size: cover;
          background-position-y: 100%;
          background-repeat: no-repeat;
          h5, h3 {
            position: absolute;
            bottom: 0;
            width: 100%;
            margin-bottom: 7px;
          }
        }

        .button {
          height: 50px;
          background-color: #008ed6;
          width: 100%;
          position: absolute;
          bottom: 0;
          .btn {
            margin-top: 9px;
            border-color: #0158a2;
            background-color: #0158a2;
          }
        }
        .m1 .text {
          background-image: url('/img/erc/mid-footer-1.jpg');

        }
        .m2 .text {
          background-image: url('/img/erc/mid-footer-2.jpg');

        }
        .m3 .text {
          background-image: url('/img/erc/mid-footer-3.jpg');

        }
      }
    }


  }
}

.contact-us-container{
  padding: 0 3em;
}

.contact-us-form{
  width: 400px;
  border: 1px solid #AAA;
  padding: 10px 20px;
  margin-top: 20px;
  margin-right: 30px;
}

/* MAX_WIDTH: 991px
========================================================================== */

@media screen and(max-width:$break-small){
  .frontend {
    width: 100% !important;

    .container {
      .news-contact-container {


        .contact {

          .contact-us-container {
            width: 100%;

            .find-out {
              .text {
                h3 {
                  font-size: 23px;

                  .bold:nth-child(1) {
                    display: block;
                  }
                }
              }

              .contact-button {
                padding-top: 10px;
                padding-bottom: 6px;

                .btn {
                  width: 80%;
                  font-size: 15px;
                  margin: 0 auto 0 10%;
                }
              }
            }
          }

          .signup-chat-container {
            width: 100%;
            margin-top: 10px;

            .signup {
              border-radius: 5px;
              overflow: hidden;
              .text {
                h5 {
                  font-size: 18px;
                }
              }
            }
          }
        }
      }
    }

    .contact-us-form{
    max-width: 400px;
  }

    footer {

      .row {
        margin: 0 auto;
      }

      .phone {
        text-align: center;
      }
    }
  }
}

@media screen and(max-width:$break-mobile-l) {
  .frontend {
    .container {
      .news-contact-container {
        .contact {
          .contact-us-container {

            .find-out {
              .text {
                h3 {
                  font-size: 20px;
                }
              }
            }

            .contact-us-form{
              width: 100%;
        max-width: 400px !important;
      }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .col-m1 {
    width: 28% !important;
  }
  .col-m2 {
    width: 44% !important;
  }
  .col-m3 {
    width: 28% !important;
  }
}
@media (max-width: 767px) {
  .contact > .col {
    margin-bottom: 10px;
  }
  .text > h5 {
    font-size: 1.1em;
  }

  .contact-us-form{
      width: 100%;
    max-width: 400px !important;
  }
}