
/* Products
========================================================================== */
.products{

	.main-image{
		background: url(img/erc/environment-resource-products.jpg);
		position: relative;
	}

	.overlay{
		position:absolute;
		left: 0;
		width: 100%;
		height: 100px;
		bottom: 0;
		background: rgba(0, 0, 0, 0.5);
	} 

	.row{
		text-align: center;
	}

	.panel{
		overflow: hidden;
		border: none;
		@include border-radius(10px);		
	}
	.panel-heading{
		text-align: left;
		@extend %panel-heading;

		label{
			@extend %label;	
		}
	}

	select{
	    width: 100%;
	    max-width: 380px;	
		color: $black;
		padding: 5px 0;
		margin-left: 15px;	    

	    option{
	    	text-align: center;
	    }	
	}
	.pagination-wrapper{
		ul{
			margin: 0;
			vertical-align: bottom;			
		} 

		li{
			display: inline-block;
			padding: 0 5px;
			vertical-align: bottom;
		}

		a, label{
			padding: 0;
			border: none;
			display: inline-block;
			margin: 0;
			font-size: 22px;
			line-height: 28px;
			@extend %segoe-bold;	
		}

		a:hover{
			color: $black;
			background: none;			
		}
	}

	.product-container{
		text-align: center;
		padding: 15px;
		@include box-shadow(0, 14px);

		img{
			margin: 0 auto 20px auto;
		}

		p, span{
			width: 100%;
			text-align: center;
			padding: 0;
		}

		p{
			@extend %segoe-bold;
			font-size: 16px;
			color: $blue;
			margin: 0 0 5px 0;
		}

		span{
			@extend %segoe-regular;
			font-size: 16px;
			margin: 0 0 20px 0;
			display: block;
		}

		a{
			color: $white;		
			background: $babyblue;
			font-size: 14px;
			@extend %regular-button;
		    padding: 2px 5px;
	    	display: inline-block;
	   		clear: both;
		    margin: 0 auto;					
		}

	}

	.detail-wrapper{
		p{
			color: $gray;	
		}

		span{
			width: auto;
			display: inline-block;
			color: $gray;
			margin: 0 0 5px 0;
		}

		a{
			padding: 10px;
			background: $blue;
			margin: 5px auto 15px auto;
		}

		.description{
			@extend %verdana-regular;
			font-size: 14px;
			text-align: left;
		}
	}

	.product-detail{
		overflow: hidden;
		box-shadow: none;
	}

}


/* TIPS OF THE WEEK
========================================================================== */
body > .tips{
	text-align: center;
	background: $lightblue;	

	.tip-wrapper{
		padding: 30px;
		@include box-shadow(-11px, 14px)
	}

	.image-wrap{
		border: 5px solid $blue;
		margin-bottom: 15px;
		width: 200px;
		height: 200px;
		@extend %circle-button;		
	}

	h4{
		@extend %segoe-light;
		margin: 30px auto;
		font-size: 64px;
	}

	h2, h3, p{
		margin-bottom: 15px;
	}

	h2{
		font-size: 16px;
		color: $blue;		
		@extend %verdana-bold;
	}

	h3{
		color: $gray;
		min-height: 96px;
		@extend %segoe-light;
	}

	.tip-description-wrap{
		overflow: hidden;
		height: 80px;
	}

	p{	
	    word-wrap: break-word;
		@extend %regular-text;
	}

	a{
		background: $blue;
		display: inline-block;
		font-size: 16px;
		padding: 5px;
		@extend %regular-button;
	}

	.webinar{
	    @extend %webinar-button;
	}

	.seminar{
	    @extend %seminar-button;
	}

	.cbt{
	    @extend %cbt-button;
	}

}



/* MAX_WIDTH: 767px
========================================================================== */

@media screen and(max-width:$break-small){
	.products{
		select{
			max-width: 100%;
			margin-left: 0;
		}

		.panel label{
			width: 100%;
			text-align: center;
		}
	}
	.product-container{
		max-width: 300px;
		margin: 0 auto;
	}
	h3.book-title {
		min-height: 0;
	}

	.actions {
		text-align: center;
		select, input {
			margin-bottom: 5px;
		}
	}
}