/* Shopping Cart || Checkout
========================================================================== */
.cart {

	.payment-details {
		color: #555;
		.subtotal {
			border-top: 1px solid #EEE;
			border-bottom: 1px solid #EEE;
			margin: 0 -15px 15px;
			padding: 10px 15px;
			color: #333;
			background-color: #f6f6f6;
			span {
				color: #333;
			}
		}
		hr {
			margin-top: 10px;
			margin-bottom: 15px;
		}
		.order-discount-title {
			color: orange;
			margin-bottom: 15px;
		}
		.sub-total-box {
			.total-price {
				color: darkorange;
				font-size: 1.2em;
			}
		}
	}

	.item.current-total {
		padding: 15px;
		border: 1px solid #EEE;
		margin-bottom: 10px;
		font-size: 1.2em;
		background-color: #f6f6f6;

	  	.subtotal-main-container {
			width: 30%;
		  	float: right;
		}

		.subtotal-container {
			background-color: #00c0ef;
			color: #FFF;
			.total-price {
				color: #FFF;
			}
		}

	}
	.item {
		color: #555;
		border-radius: 0;

		.order-adjustment-price {
			overflow: hidden;
			background: #f6f6f6;
			padding: 15px;
			.price {
				font-size: 1.4em;
				line-height: 1.5em;
				text-align: center;
			}
			small {
				line-height: 32px;
			}
		}
		.panel-heading {
			h2 {
				font-size: 21px;
				text-align: center;
			}
			span {
				color: #FFF;
			}
		}
		input[type=checkbox] {
			display: inline;
			position: relative;
			margin: 0;
			height: auto;
		}
		ul.list {
			li {
				padding: 5px 0;
			}
		}
		.description {
			margin-bottom: 15px;
			border: 1px solid #c5c5c5;
			padding: 10px 15px;
			.schedule {
				font-size: 1.1em;
				line-height: 1.1em;
				color: #0158a2;
			}
		}
		h4.attendee-label {
			font-size: 1.1em;
			font-weight: normal;
			margin-bottom: 5px;
		}
		.btn-info {
			color: #FFF;
		}

		div.list {
			border-bottom: 1px solid #EEE;
			margin-bottom: 20px;
			.list-row {
				overflow: hidden;
				border-top: 1px solid #EEE;
				padding-top: 10px;
				.column {
					padding-bottom: 10px;
				}
			}
		}

		.subtotal-container {
			background: #f6f6f6;
			padding: 10px;
			text-align: center;
			border-radius: 2px;
			color: #585858;
			.total-price {
				font-size: 1.4em;
				line-height: 1.5em;
				text-align: center;
			}
		}

		.existing-adjustment-notif {
			background: #f6f6f6;
			text-align: center;
			border-radius: 2px;
			padding: 26px 0;
		}

		.attendees-modification, .cancel-button-container {
			margin-bottom: 20px;
		}
	}

	.completed-order-total {
	  	margin-bottom: 10px;
	}
}
.cart, .account-info-container, .payment-details{
	fieldset{
		margin-bottom: 30px;		
		border: 1px solid #0158a2;

		.associated-course{
			padding: 0;

			.item{
				margin: 15px;
			}

			i{
				color: $blue;
				padding-right: 5px;
			}

			a{
	    		width: 100%;
    			text-align: center;
    			display: block;				
			}
		}	
	
	}
	h2 {
		font-size: 1.3em;
		text-align: center;
	}
	h2, h3{
		color: $white;
		@extend %segoe-regular;
	}

	.total-cost{
		font-size: 28px;
		font-weight: 700;
		color: $white;
		@extend %segoe-regular;		
	}


	.panel-inner, fieldset{
		overflow: hidden;
	}

	.panel-heading{
		@extend %panel-heading;
	  	border-radius: 0;

		a{
			color: $white;
		}


	}

	.panel-body{
		p, span, a{
			font-size: 14px;
		}

		p, a{
			text-align: left;
			color: $blue;
			@extend %verdana-bold;			
		}

		.column, .description{
			padding-bottom: 15px;
		}

		.attendees.discounts>.row {
			border-bottom: 1px solid #EEE;
			padding-bottom: 10px;
			margin-bottom: 15px;
		}

	  	.attendees {

		  	.attendees-modification {
			  	.btn {
				  	width: 222px;
				  	margin: 10px 0;
				}
			}

		  	.list {

			  	.existing-adjustment-notif {
				  	padding: 10px;
				  	line-height: 20px;
				}
			}
		}
		
	}

	span{
		text-align: right;
		display: block;	
		color: $gray;			
		@extend %verdana-regular;		
	}

	.total-price{
		@extend %verdana-bold;
	}

	.subtotal{
		padding-top:30px;
		border-top: 3px solid $gray;
	}

  	.sub-total-box {
	  	.info-box-text {
		  	display: inline;
		}
	}

	.cart-navigation {
		margin-bottom: 20px;

		a, button{
			background: $babyblue;
			@extend %regular-button;
		  	border-radius: 2px;
		}	

	}

  	select {
	  @extend %verdana-regular;
	}

	input, select.cc-info {
		display: block;
		width: 100%;
		line-height: 32px;
		font-size: 14px;
		padding: 0 5px;
		margin-bottom: 15px;
		height: 32px;
		border: 1px solid #d2d6de;
		@extend %verdana-regular;

		&[type="checkbox"]{
			width: auto;
			position: absolute;
			margin: 3px;
		}
	}

	.checkout-wrapper{

		.row{
			position: relative;
		}

		label{
			width: 100%;
			margin-bottom: 30px;				
			@extend %verdana-regular;
		}

		.pay-by-invoice {
		  	margin-bottom: 10px;

		  	.alert {
			  @extend %verdana-regular;
			}

		  	.btn-upload, .btn-change {
				color: white;
				background: $babyblue;
				@extend %verdana-regular;
		  	}

		  	.download-payment {
			  	text-align: center;
			}
		}

	  	.invoice-details {
		  	margin-top: 10px;

		  	@extend %segoe-regular;

		  	.list {
			  	padding: 10px 10px 10px 0px;

			  	li {
					display: inline-block;
				  	border:1px solid #bbd8fb;
				  	background-color:#f3f7fd;
				  	padding: 5px;
				  	margin-top: 5px;
				  	margin-right: 5px;
				}
			}
		}

	}

	div.checkbox{
		margin-top:0;
		margin-bottom: 0;

		label{
			text-align: left;
		}
	}

	.image-wrap{
    	height: auto;
    	width: 100%;
    	max-width: 200px;
    	margin: 0 auto 30px auto;
    	text-align: center;
    	display: block;
    	overflow: hidden; 	
	}

	img{
	    width: 100%;
    	height: auto;	
	}

	/*important*/
	.row:last-child input:last-child{
			margin-bottom: 0
	}

  	.attendees-info {
		margin-top: 15px;

	  	.total {
		  	p {
			  	display: inline;
			}
		}
	}

	.attendees{
		strong.select-credit-label {
			line-height: 1.3em;
			display: block;
		}
		a{
			width: auto;
			text-align: center;
			color: white;
			background: $babyblue;
			display: inline-block;
			margin: 20px 0;
			@extend %regular-button;
			padding: 5px 15px;
		}

		.name{
			text-align: left;	
		}

	  	.credit-list {
		  	text-align: left;
		}

	  	.cancel-registration {
			width: auto;
			text-align: center;
			color: white;
			background: $babyblue;
			display: inline-block;
			@extend %regular-button;
		  	font-size: 16px;
			padding: 5px 15px;
		  	margin: 10px 0px 15px 20px;
		}

	  	.cancelled-label {
		  	font-size: 12px;
		  	text-align: center;
		}
	}

   	.discounts {
	  	.list {
		  	li {
			  	margin-bottom: 20px;
			}
		}
	}

	.discounts h5{
		@extend %verdana-bold;
		color: $gray;
		margin-bottom: 5px;
		font-size: 18px;
	}

  	.discounts-total {
	  	margin-bottom: 15px;

	  	p {
		  	display: inline;
		}

	  	.total-cost {
			@extend %verdana-bold;
			color: $gray;
		}
	}

	.coupon-navigation{
		overflow: hidden;
		margin-bottom: 30px;

		input {
			margin: 0;
		}

		button {
			width: 100%;
			text-align: center;
			color: $white;
			background: $babyblue;
			display: inline-block;
			@extend %regular-button;
		}
	}

	.payment-detail .total {
			clear: both;
		}

	.summary-info {
		li{
		    font-family: verdana, sans-serif;
		    font-size: 14px;
			line-height: 16px;
		    clear: both;
    		margin-bottom: 10px;
    		overflow: hidden;
		}

		p{
			color: #555;
			margin-bottom: 10px;
		}

	}

  	.item-title {
		text-align: left;
		color: $blue;
		@extend %verdana-bold;
	}

  	.account-info {
	  	.edit-profile-form {
			@extend %verdana-regular;

			.panel-body {
		  		padding-bottom: 0px !important;

		  		input {
					margin-bottom: 10px !important;
		  		}

			  	button {
				  	background: $babyblue;
				  	border-color: $white;
				}

			  	.same-as {
				  	height: 15px;
				  	position: relative;
				}
			}

		  	.alert-danger, .alert-success {
				font-size: 14px;
				padding: 10px;
			}

		  	.profile-notif {
			  	text-align: left;
			  	margin-bottom: 5px;
			}
	  	}

		hr {
		  	width: 95%;
		}
	}

  	.no-order {
	  	font-size: 20px;
	  	text-align: center;
		padding-bottom: 20px;
	  	@extend %segoe-regular;
	}

	.to-user-portal {
	  	margin-bottom: 20px;

	  	&:hover {
		  color: #fff;
		}
	}

  	.adjustments {
	  	.required-text {
		  	padding: 20px;
		}

	  	.list {

			li {
				overflow: hidden;
				border-top: 1px solid #EEE;
			}
			

			.order-adjustment-note {
			  	line-height: 20px;
			}

			.adjustment-label {
			  	border-radius: 2px;
			}
		}
	}

  	.adjustments-breakdown {
		.order-modification-amount {
		  	padding: 10px;
			border-top: 1px solid #EEE;
			overflow: hidden;
			strong {
				text-align: right;
			}
		}

		.cart-navigation {
		  	margin-bottom: 0px;

			a, button {
				text-align: center;
				color: $white;
			}
		}

	  	.completed-proceed-checkout {
		  	width: 100%;

		  	.checkout {
			  	font-size: 17px;
			  	width: 80%;
			  	@extend %regular-button;
			}
		}
	}
}

.order-modification-payment-details {

	.adjustment-date {
		color: #000;
	}

  	.adjustment-summary {
		.action-label {
		  	width: 30%;
		  	text-align: center;
		  	border-radius: 2px;
		}

	  	.note {
		  	color: #585858;
		  	line-height: 25px;
		  	text-align: left;
		}

	  	.details-label {
			display: none;
	  	}

	  	.total  {
			.amount-text {
				float: left;
				text-align: left;
			}
		}
	}

  	.sub-total-box {
	  .info-box-text {
		@extend %verdana-bold;
	  }

	  .info-box-number {
		float: right;
	  }
	}

}

.modal {
	@extend %segoe-regular;

  	.bold {
		font-weight: 700;
	}

	h4 {
		font-size: 20px;
	}
}

.cart {

	.item .attendees.discounts {
		clear: both;
		overflow: hidden;
		ul.list li {
			overflow: hidden;
			margin: 0 0 5px;
			span {
				text-align: left;
			}
		}
	}
}

/* Checkout
========================================================================== */


/* MAX_WIDTH: 991px
========================================================================== */

@media screen and(max-width:$break-medium){
	.cart{

		.subtotal{

			.column{
				padding-top:0;			
			}
		}
		.price, .total-price, .subtotal-price {
			text-align: right;
		}
		.attendees .column {
			padding: 0 0 10px;
		}
		.p-label p {
			padding-bottom: 10px;
		}
	}
}

/* MAX_WIDTH: 767px
========================================================================== */

@media screen and(max-width:$break-small){
	.cart{

		.item {

			.description, h4.attendee-label, .attendees-modification, .cancel-button-container {
				text-align: center;
			}

			.col-sm-7 {
				padding: 0;
			}

			.existing-adjustment-notif {
				background: none;
				padding: 10px;
				text-align: center;
				height: auto;
			}

		}


		.attendees {
			.cancel-registration {
				display: block;
				margin: 10px auto 0;
			}
			strong.select-credit-label {
				text-align: center;
			}
		}

		.list-row {
			clear: both;
			overflow: hidden;
		}

		.pay-by-invoice {
			.btn {
				margin-bottom: 10px;
			}
		}

		.pay-by-credit, .invoice-details {
			input, select {
				border: 1px solid #CCC;
				margin-bottom: 10px;
			}

			label {
				margin-bottom: 10px;
			}

			.row:last-child {
				.col-sm-8 input {
					margin-bottom: 10px;
				}
			}
		}

		.payment-option {
			select {
				margin-bottom: 0;
			}
		}

		.cart-total {
			h2 {
				font-size: 18px;
				line-height: 23px;
			}
			.price {
				font-size: 20px;
			}
		}

		.inner {
			padding: 0;
		}
		 span{
			text-align:left;
		}

		.cart-navigation{ 
			margin-bottom: 15px;			

			.column{
			    overflow: hidden;
			    margin-bottom: 15px;	
			}

			.btn {
				width: 100%;
    			float: none !important;
			}
		}

		.checkout-wrapper{
			padding: 0;

			label{
				text-align: left;	
			}

		}

		.item {
			.panel-heading {
				h2 {
					padding: 0;
					margin: 0;
					font-size: 18px;
					line-height: 23px;
				}
				a.btn-remove {
					padding: 0;
					margin: 0;
				}
			}
		}

		.item.book .panel-body {
			text-align: center;
			.price {
				margin-bottom: 10px;
				font-size: 20px;
				text-align: center;
			}
		}

	}

}

/* MAX_WIDTH: 425px
========================================================================== */

@media screen and(max-width:$break-mobile-l){
	.cart {

	  	.current-total {

		  	.subtotal-main-container {
			  	width: 100% !important;
			  	float: none !important;
			}
		}
	}
}

