
.sidebar{
	background: $lightblue;

	.inner{
		display: flex;
	}

	.sidebar-container{
		padding-bottom: 30px;
		margin: 30px 0;

		&:nth-child(2){
			padding-bottom: 0;
		}

	}

	.title{
		font-size: 18px;
		@extend %segoe-bold;
	}

	p{
		margin-top: 15px;
	}

	h2{
		color: $white;
		width: 100%;
		background: $blue;
		padding: 15px;
		@extend %segoe-regular;		
	}

	.description{
		@extend %regular-text;

		&:before{
			content: "\f054";
			font-family: fontAwesome;
			color: $iconblue;
			font-size: 18px;
		}
	}

	.view{
 	   	position: absolute;
    	bottom: 0;
    	right: 15px;
    	color: $blue;
    	text-decoration: underline;
    	@extend %segoe-bold;
	}

	.banner{
		width: 100%;
		height: auto;

		&:before{
			content: "";
		}
	}

	.btn{
			color: $white;
			vertical-align:baseline;
			background: $babyblue;
			padding: 10px;
			width: 100%;
			@extend %form-regular-label;
		@extend %regular-button;
		@extend %segoe-bold;	
	}

	.sign-up-wrapper{
		padding: 30px;
		padding-bottom:15px;
    	margin: 15px 15px 0 15px;		
    	background: $white;
    	@include border-radius(10px);

	 	p{
			line-height:1.3em;
	 		color: $gray;
			@extend %form-label;
		}
	}


}

/* MAX_WIDTH: 767px
========================================================================== */

@media screen and(max-width:$break-small){

	 .sidebar .inner{
	 	display: block;
	 }
}