/******************************
          static
*******************************/
.main{

	.border{
		height: auto !important;
		padding: 15px 0 90px 0;
		overflow: hidden;
	}

	.main-class{
		width: 19%;
		display: inline-block;
		min-width: 80px;
	}

	.training-register{
		@extend %circle-button;
		@extend %register-button;
	}

	.forums{
		@extend %circle-button;
		@extend %forums-button;
	}

	.calendar{
		@extend %circle-button;
		@extend %calendar-button;
	}

	.class-sched {
		@extend %circle-button;
		@extend %class-sched-button;
	}

	.cbt{
		@extend %circle-button;
		@extend %cbt-button;
	}

	label{	
	    @extend %label;
	   	padding: 10px 0; 
	   	max-width: 90px;
	   	line-height: 20px;
	}

	.table>thead>tr>th
	{ border: 1px solid #c5c5c5; font-weight: bold; }

	table {
		margin: 0;
		border: 1px solid #c5c5c5;
		th {
			text-align: center;
			background-color: #cbcbcb;
		}
		td {
			text-align: center;
			border-left: 1px solid #c5c5c5;
			border-right: 1px solid #c5c5c5;
		}
	}
	table>tbody>tr:nth-of-type(even) {
		background-color: #f6f6f6;
	}
}


.entry{
	@extend %regular-text;
	padding: 25px 0;

	img{
		max-width: 100%;
		height: auto;
    	margin-bottom: 30px;
    	@include border-radius(10px);		
	}

	p {
		margin: 0 0 15px 0;
		text-align: justify;

	}

	strong{
		font-weight: 700;
		color: #333;
	}

	ul {
		list-style-type: disc;
		margin-left: 40px;
		display: inline-block;
	}

	a {
		color: #0158a2;
	}

	sup {
	  	font-size: 10px !important;
	}

  	strong {
	  	a {
		  	color: #585858;

		  	&:focus {
			  	text-decoration: none;
			  	color: #585858;
			}
		}
	}

}

@media screen and(max-width:768px){
	.main {
		label {
			max-width: 70px;
			font-size: 15px;
		}
	}
}

/* MAX_WIDTH: 767px
========================================================================== */

@media screen and(max-width:$break-small){

	 .main{
	 	text-align: center;

	 	.page-title{

	 		.border{
	 			padding: 15px 0 70px 0;
	 		}

	 		label{
	 			width: 100%;
	 			text-align: center;
	 			padding: 5px 0 15px 0 ;
	 		}

	 	}

		 label {
			 display: none;

		 }

	 }

	 .sidebar .inner{
	 	display: block;
	 }

}
