/* USER TRAINING DETAIL
========================================================================== */

.user-training-details {

  .details {
    margin-bottom: 15px;
    border: 1px solid #c5c5c5;
    padding: 10px 15px;
    .dl-horizontal {
      dt {
        color: #337ab7;
        width: 80px;
        float: left;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
      }
      dd {
        padding-bottom: 5px;
        margin-left: 90px;
        text-align: left;
      }
    }
  }

  .page-title {
    small {
      color: white;
    }
  }
  font-family: verdana, sans-serif;
  font-size: 14px;
  line-height: 18px;
  .desc {
    color: #333;
    font-weight: normal;
  }
  h5.title {
    padding-bottom: 3px;
  }
  .dl-horizontal {
    margin: 5px 0;
    dt {
      text-align: left;
      font-weight: bold;
    }
  }
  .detail-box {
    margin-bottom: 15px;
    border-radius: 0;
    legend {
      border: none;
      padding: 3px;
      margin-left: 10px;
      background-color: #FFF;
      font-weight: bold;
    }
  }
  .detail-box-students legend {
    width: 85px;
  }
  ul.list {
    padding: 5px;
    li {
      list-style: none;
      a {
        font-size: 12px;
        font-weight: normal;

      }
      span.not_avail {
        display: inline;
        font-size: 12px;
      }
    }
  }
  ul.attendees {
    li {
      overflow: hidden;
      div {
        line-height: 24px;
      }
    }
  }

  .panel-primary > .panel-heading {
    background-color: #0158a2;
  }
  .well {
    background-color: aliceblue;
    border-color: aliceblue;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    margin-bottom: 0;
  }
}


/* MAX_WIDTH: 767px
========================================================================== */

@media screen and(max-width:$break-small) {
  .user-training-details {
    padding: 0;
    .well {
      margin-bottom: 10px;
    }
    ul {
      margin: -20px;
      li {
        border-bottom: 1px solid #ccc;
        text-align: center;
        padding: 10px 0;
        div {
          line-height: 18px !important;
        }
      }
      li:last-child {
        border-bottom: none;
      }
    }
    .panel-heading h2 {
      font-size: 18px;
      line-height: 23px;
    }
    h5.title {
      font-size: 18px;
      line-height: 23px;
    }
  }
}