/* MAX_WIDTH: 767px
========================================================================== */

.account-info-container .account-info {
  .edit-profile-form {
    .panel-body {
      label {
        margin-bottom: 5px;
      }
      input, select {
        margin-bottom: 10px !important;
      }
    }
    div.form-group {
      margin: 0;
      .alert {
        line-height: 1.3em;
      }
      .class-list {
        list-style: disc;
        padding-left: 20px;
        padding-bottom: 20px;
        li {
          line-height: 1.3em;
        }
      }
    }
  }
}

.label-divide {
  background: #f6f6f6;
  border-top: 1px solid #c5c5c5;
  border-bottom: 1px solid #c5c5c5;
  margin: 0 -15px;
  margin-bottom: 15px;
  font-size: 1.1em;
  text-align: center;
}

@media screen and(max-width:$break-small) {

  .account-info-container .account-info {
    .edit-profile-form {
      .panel-body {
        label {
          margin-bottom: 5px;
          font-size: 15px;
          padding: 0;
        }
        .form-group {
          padding: 0;
        }
      }
      h5 {
        font-size: 25px;
      }

    }
    hr {
      margin: 5px auto;
    }
  }


}