/* USER DETAIL
========================================================================== */

.user-detail{
	@extend %verdana-regular;
	font-size: 14px;

	.training-order-title {
		h3 {
			line-height: 1.5em;
			padding-bottom: 5px;
		}
		.btn.address-book {
			background: $babyblue;
			font-size: 14px;
			display: inline-block;
			float: right;
			padding: 5px 10px;
			font-weight: normal;
		  	margin-left: 10px;
			@extend %regular-button;
		}
	}

  	.user-personal-account-detail {
	  	padding-left: 0;

	  	.address {
			margin-top: 20px;
			line-height: 30px;
			margin-bottom: 20px;
		}
	}

	fieldset{
		overflow: hidden;		
		border: 1px solid $gray;		
		@include border-radius(10px);
	  	border-radius: 2px;
	}

	.panel-heading {
	  	@extend %panel-heading;
		background: $blue;
	  	border-radius: 2px;
		overflow: hidden;

	  	h3 {
		  display: inline;
		}

	  	.address-book {
			width: auto;
			text-align: center;
			color: white;
			background: #00b7ff;
			display: inline-block;
			padding: 5px 15px;
		  	text-decoration: none;
		  	border-radius: 2px;
			float: right;
		}
	}

	.checkbox-column{
		text-align: center;
	}

	.checkbox-wrapper{
	    text-align: left;
	    padding-left: 20px;
	    display: inline-block;		
	}	

	.user-detail-wrap{
		padding: 20px 40px;

		fieldset{
			border: 1px solid $midgray;	
			margin: 40px 0 0 0;	
		}	

		.panel-heading{
			background: #c5c5c5;
			border-radius: 0;
			color: #333;
		}

		.panel-inner{
			padding: 0;
		}	
	}

	.table>thead>tr>th
	{ border: 1px solid #c5c5c5; }

	table {
		margin: 0;
		border: 1px solid #c5c5c5;
		th {
			text-align: center;
			background-color: #cbcbcb;
		}
		td {
			text-align: center;
			border-left: 1px solid #c5c5c5;
			border-right: 1px solid #c5c5c5;
		}
	}
	table>tbody>tr:nth-of-type(even) {
		background-color: #f6f6f6;
	}



	#table-clients>thead>tr>th {
		vertical-align: top !important;
	}

	td{



		a , button{
			display: block;
			width: 100%;
			color: $gray;
			padding: 5px;
			text-align: center;
			border: 0;
			@include border-radius(10px);
		  	text-decoration: none;
		}

	  	.label-info {
		  	margin-right: 10px;
		  	margin-bottom: 5px;
		}

	  	.order-details {
		  	text-align: center;
		  	color: white;
		  	background: #00b7ff;
		  	text-decoration: none;
		  	border-radius: 2px;
		  	margin-bottom: 10px;
		  	display: inline-block;
		  	font-size: 12px;
		}
	}


	.slim{
		width: 78px;
	}
	
	.date{
		text-align: left;
		overflow: hidden;
		width: 130px;
	}

	th{
		padding: 5px 25px 5px 5px;
		position:relative;
		border-left: 1px solid $midgray;
		border-right: 1px solid $midgray;			
	}


	.search{
		border-radius: 10px;
		border: 1px solid $lightgray;
		width: 100%;
		display: block;
		padding: 0 5px 0 15px;
		position: relative;
	}	

	textarea{
		width: 100%;
		display: block;
	}





	.inactive {
		color: $midgray;
	}

	.note{
		float: right;
		color: $red;
		@extend %verdana-bold;

	}

	/* USER PORTAL CLASS DETAILS */

	.select-course {
		fieldset{
		margin: 0;
		}
	}


	.user-detail-wrap {
		strong {
			padding: 5px 15px 7px;
			display: block;
		}

		.checkbox {
			margin: 5px 0;
		}
	}

}



/* MAX_WIDTH: 991px
========================================================================== */

@media screen and(max-width:$break-medium){

	.table-wrap{
		overflow:scroll;
		width: 100%;
	}
}


/* MAX_WIDTH: 767px
========================================================================== */

@media screen and(max-width:$break-small){
	.user-detail .user-detail-wrap{

		.table-wrap{
			overflow:scroll;
			width: 100%;
			max-height: 500px;
			border-top: 1px solid #c5c5c5;
			border-bottom: 1px solid #c5c5c5;
		}
	
		.checkbox-column {
    		text-align: left;
		}

		.note{
			float: left;
		}
	}


}
@media screen and(max-width:$break-mobile-l) {
	.user-detail {
		.panel-heading  {
			text-align: center;

			.address-book {
				float: none;
			}

			h3 {
				margin-bottom: 5px;
				display: block;
			}

		}
	}


}

@media
only screen and (max-width: $break-small) {

	.user-detail {

		.training-order-title {
			text-align: center;
			.btn.address-book {
				float: none;
			  	margin-bottom: 10px;
			}
		}

		.user-options-container {
			margin: auto;
			width: 210px;
		}

		.user-details-personal-info {
			text-align: center;
		}

		.user-details-personal-info h2 {
			font-size: 32px;
		}

		.panel-heading {
			margin-top: 15px;
		}

		.user-detail-wrap {
			padding: 20px 10px;
		}

		td span.label-danger, td span.label-warning {
			margin-top: 3px;
		}

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50% !important;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}


		/*
        Label the data
        */
		td:nth-of-type(1):before {
			content: "Transaction ID";
		}
		td:nth-of-type(2):before {
			content: "Transaction Date";
		}
		td:nth-of-type(3):before {
			content: "Title";
		}
		td:nth-of-type(4):before {
			content: "Agent";
		}
		td:nth-of-type(5):before {
			content: "Status";
		}
		td:nth-of-type(6):before {
			content: "Details";
		}
	}
}