/******************************
          VARIABLES         
*******************************/

/* COLORS
========================================================================== */

$lightblue:  #c7eafc;
$babyblue: #00b7ff;
$blue: #0158a2;
$navyblue: #013969;
$iconblue: #1f6dae;
$white: #ffffff;
$black: #000000;
$gray: #585858;
$lightgray: #f5f5f5;
$midgray: #cccccc;
$darkgray: #282828;
$ashgray: #929292;
$grayowl: #c5c5c5;
$red: #ff0000;

/* MEDIA WIDTH
========================================================================== */
$break-large: 1200px;
$break-medium: 991px;
$break-small: 767px;
$break-mobile-l: 425px;