@import 'reset';
@import 'variables';
@import 'mixins';
@import 'placeholders';
@import 'fonts';

@import 'header';
@import 'books';
@import 'course-attendees';
@import 'course-listings-page';
@import 'course-details-page';
@import 'class-details-page';
@import 'forms';
@import 'filtered';
@import 'shopping-cart';
@import 'products';
@import 'user-detail-page';
@import 'static';
@import 'sidebar';
@import 'user-training-details';
@import 'user-profile';
@import 'coupon-landing';
@import 'modals';
@import "homepage";
@import "posts";

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/******************************
          GLOBAL
*******************************/

.row{
	overflow:hidden;
}

.container {
	margin: 0 auto;
	width: 100%;
}

h1{
	@extend %segoe-light;
	font-size: 50px;
	display: inline-block;
	line-height: 75px;	
}

h2{
	font-size: 24px;
    word-break: break-word;	
}

h3{
	@extend %segoe-regular;
	font-size: 24px;
}

h4 {
	@extend %segoe-regular;
	font-size: 32px;
	line-height: 32px;
	margin-bottom: 15px;
}

h5 {
	@extend %lato-bold;
	font-size: 18px;
}

table, th, td {
    border-collapse: collapse;
}

.btn-flat {
  border-radius: 0px !important;
}

.block {
  display: block !important;
}

.clearfix {
  clear: both;
}

.panel-default>.panel-heading {
	background-color: #cbcbcb;
}

.panel-primary>.panel-heading {
	border: 0;
}
.panel {
	//border: 1px solid #cbcbcb;
	border: 1px solid #cbcbcb;
	margin-bottom: 10px;
	border-radius: 0px !important;
}

/* Breadcrumbs
========================================================================== */
.breadcrumb{
	background: none;
	clear: both;
}

.breadcrumb>li+li:before{
	content: ">";
}

.breadcrumb>li.active{
	@extend %verdana-regular;
}

.breadcrumb>li>a{
	@extend %verdana-bold;
}

/* Page title
========================================================================== */ 
.page-title {

	.inner{		
		text-align: center;
	}
	
  .border{
    background: url(/img/erc-title-bg-slice.png) repeat-x;
  	height: 90px;
  }

	h1{
		font-weight:500;
		position: relative;
    	margin: -75px auto 0 auto;
    	vertical-align: top;
  		background: $white;	
  		padding: 1px 20px;
   	    /* width: auto; */
    	max-width: 60%;
    	word-break: break-word;
    	@include border-top-radius(15px);
    	

		&:before {
  	  		position: absolute;
  	  		content: "";
  	  		border-left: 100px solid transparent;
  	  		border-bottom: 100px solid $white;
   			left: -95px;
  	 		top: 4px;
		}

		&:after{
			position: absolute;
  	  		content: "";
  	  		border-right: 100px solid transparent;
  	  		border-bottom: 100px solid $white;
  	  		right: -95px;
  	  		top: 4px;
		}
	}
}

/* ASSOCIATED COURSES
========================================================================== */

.associated-course-wrap{
	overflow: hidden;
	padding: 30px;
	background: $lightblue;
	@include inset-box-shadow(1px, 28px);	

	h4{ 
		width: 100%;
		text-align: center;
	}

	.column{
		overflow: hidden;
		padding: 30px 15px;
		@include box-shadow(-11px, 14px);
	}

	.left{	
	    width: 115px;
   		float: left;		
	}

	.right{
	    width: auto;
   		overflow: hidden;
	}

	.image-wrap{
		width:80px;
		height: 80px;
		border:2px solid $navyblue;
		@extend %circle-button;
	}

	.webinar .image-wrap{
	    @extend %webinar-button;
	}

	.seminar .image-wrap{
		@extend %seminar-button;	
	}

	.cbt .image-wrap{
	    @extend %cbt-button;	
	}	

	span{
		width: 100%;
		display: block;
		font-size: 12px;
		margin-top: 5px;
		@extend %verdana-bold;
	}

	.inner-wrap{
		text-align: center;
	}

	h2{
		text-align:center;
		letter-spacing: -1px;
		font-size: 18px;
   		margin-top: 15px;
   	    max-width: 175px;
   		margin: 0 auto 15px auto;			
		@extend %segoe-regular;  		
	}

	a{
		background: $blue;
		font-size:16px;
		padding: 5px;
		max-width: 115px;		
		@extend %regular-button;
	}

}


/* CONTACT US
========================================================================== */ 
#contact_us{
	background:url(/img/erc/safety.jpg) center;
	background-size: cover;
	color: $white;

	.inner{		

		padding: 65px 20px;	
		overflow: hidden;
	}

	.row{
		background: $babyblue; 
		overflow: hidden;
		text-align: center;
		position: relative;
		@include border-radius(10px);
	  	border-radius: 2px;
	  	padding-left: 0;
	  	padding-right: 0;
	}

	.column {
		padding: 20px 10px;
	}

	.description {
		font-size: 14px;
		@extend %verdana-regular;
	}

	.button-container{
		background: $white;
		display: block;
   		position: relative;
    	right: 0;
		text-align: center;
		height: 130px;
	}

	.description-container {
		height: 130px;
	}

	.button-wrapper{
		display: table;
    	height: 100% ;
    	width: 100%;
	}

	.inner-wrap{
		display: table-cell;
    	vertical-align: middle;
	}

	button{
		background: $blue;
		font-size: 20px;
		display: block;
		margin: 0 auto;
		@extend %regular-button;
		@include set-width(206px);
	  	border-radius: 2px;
	}

	a{
		color: $white;
	    text-decoration: none;
	}

}


/* FOOTER
========================================================================== */ 
footer {
	background: $darkgray;
	text-align:center;
	padding: 15px 0;
	color: #FFF;
	font-size: 0.8em;
	line-height: 1.3em;
	#footer {
		max-width: 1000px;
		margin: 0 auto;
		>.row {
			margin-left: 0px !important;
			margin-right: 0px !important;
		}
	}
	h3.phone {
		margin-top: 15px;
		text-align: right;
		a {
			color: #FFF;
		}
	}
	ul {
		padding-bottom: 10px;
		li {
			display: inline-block;
			padding: 0 10px;
			border-left: 2px solid #fff;

			&:first-child {
				border-left: none;
			}

			a {
				color: #fff;
			}
		}
	}
	pre {
		background: none;
		text-align: left;
		color: #FFF;
		overflow: hidden;
	}
}

/* MAX_WIDTH: 991px
========================================================================== */

@media screen and(max-width:$break-medium){

	#contact_us .column {
		padding: 20px;
	}

		.associated-course-wrap{
			.column{
			    max-width: 500px;
			    margin: 0 auto;	
			    @include inset-box-shadow(6px, 7px);

			    &:first-child{
			    	box-shadow:none;
			    }
			}
		}
	.checkbox {
		input{
			position: static !important;
			margin-left: 0px !important;
		}
	}	
}

/* MAX_WIDTH: 767px
========================================================================== */

@media screen and(max-width:$break-small){

	#calendar {
		.fc-toolbar {
			font-size: 0.8em;
		}
		.fc-center {
			padding-top: 10px;
		}
	}
	h1 {
		font-size: 50px;
		line-height: 50px;
	}


	h5{
		font-size: 30px;
	}

	.course-listings h4 {
		font-size: 30px;
		padding-top: 5px;

	}


	.page-title h1{
		min-width: 90%;
		/* min-width: auto; */
		margin-top: -60px;
		padding-bottom: 10px;
		font-size: 40px;
		padding-top: 13px;

		&:before{
			border-bottom: 57px solid #ffffff; 
		}

		&:after{
			border-bottom: 57px solid #ffffff; 	
		}
	}

	#contact_us {
		.button-container {
			position:relative;
		}

		.row{
	 		padding: 0;
	 	}
	}

	footer {
		pre {
			text-align: center;
			padding-left: 0;
		}
		ul {
			padding-top: 10px;
		}
	}
	.checkbox {
		input{
			position: static !important;
			margin-left: 0px !important;
		}
	}

}


.text-center { text-align: center }
.lead {
	font-size: 1.25rem;
	font-weight: 300;
}
strong { font-weight: bold; }
em { font-style: italic; }
small { font-size: 0.9em }

.class-tooltip dt {
	font-weight: bold;
}

.borderless td, .borderless th {
	border: none !important;
}

.fc-axis, hr.fc-divider.fc-widget-header, div.fc-scroller.fc-time-grid-container {
	display:none !important;
}

.alert-attendee {
	font-size: 0.9em;
	line-height: 1.2em;
}

.save-contact .help-block {
	padding: 5px;
	font-size: 0.8em;
	line-height: 1.3em;
}

.disabled-elem {
	background-color: #EFEFEF;
	color: #777;
}