/******************************
           COURSE LISTING PAGE      
*******************************/

/* Courses
========================================================================== */

.courses{
	background: $blue;
	overflow: hidden;
	margin-top: 35px;
	@include border-top-radius(10px);

	.row{
		margin: 10px 0; 
	}

	.inner {
		@extend %content-indent;
	}

	h3{
	  color: #ccdeec;
    width: 100%;
    text-align: center;	
	}

	.all {
		@extend %circle-button;
		background-image: url(../images/all-courses.png);
	}

	.webinars {
		@extend %circle-button;
		background-image: url(../images/webinar-course.png);
	}

	.seminars {
		@extend %circle-button;
		background-image: url(../images/seminar-course.png);
	}

	.cbt{
		@extend %circle-button;
		background-image: url(../images/cbt-course.png);
	}

	label{	
	    @extend %label;
	   	padding: 15px 0; 
	}

}


/* Filters
========================================================================== */

.filters {
	background: $navyblue;
	@include inset-box-shadow(11px, 10px);
	@include border-bottom-radius(10px);

	.inner {
		@extend %content-indent;
		overflow: hidden;
	}

	.wrap {
		text-align:center;
	}

	label{
	    @extend %label;
	    padding: 0;
	    margin: 5px auto;
	}

	select, .search {
	    padding: 2px;
	    margin: 5px auto;	
	    height: auto;
    	font-size: 16px;
    	border-radius: 0;
		@extend %verdana-regular;
		@include set-width(275px);
	}

	#course_filter {
		text-align: center;
	}

	.go {
		margin: 18px auto;
		background: $babyblue;
		font-size: 24px;
		@extend %regular-button;
		@include set-width(200px);

	}
	

}


/* Course Listings
========================================================================== */

.course-listings{
	margin-top: 70px;

	.content-wrapper{
		@include inset-box-shadow(1px, 28px);

		&:first-child{
			box-shadow: none;
		}

		&:nth-child(odd){
			background-color: $lightblue;
		}

	}

	h4{
		letter-spacing: -1px;
	}

	.row{
		position: relative;
		@extend %row-margin;
	} 

	.column{
		position: initial;
	} 

	.com-based-training {
		background-image: url(../images/computer-based-training.jpg);
		@extend %featured-image;
	}

	.hazard-management {
		background-image: url(../images/hazardous-waste-management.jpg);
		@extend %featured-image;
	}

	.hazard-transportation {
		background-image: url(../images/hazardous-materials-transportation.jpg);	
		@extend %featured-image;
	}

	.environmental {
		background-image: url(../images/environtmental-resource.jpg);		
		@extend %featured-image;
	}

	.safety {
		background-image: url(../images/safety-seminars.jpg);
		@extend %featured-image;
	}

	.class-wrapper{
		margin: 0 0 20px 0;

		&:last-child{
			margin: 0;
		}
	}

	.class{
		text-transform: uppercase;
		font-size: 18px;
		color: $blue;
		@extend %segoe-bold;
	}

	a{
		color: $gray;
		@extend %regular-text;
		@extend %segoe-regular;
	}
}



/* MAX_WIDTH: 991px
========================================================================== */ 
@media screen and(max-width:$break-medium){

	.course-listings{ 
		.com-based-training ,
		.hazard-management ,
		.hazard-transportation ,
		.environmental ,
		.safety {
			margin: 0 auto;
			position:relative;
			height: 200px;
			width: 100%;
			top: 0;
			bottom: 0;
		}
	}
}

/* MAX_WIDTH: 767px
========================================================================== */

@media screen and(max-width:$break-small){

	 .courses{
	 	text-align: center;
	 	button , label{
	 		width: 100%;
	 		text-align: center;
	 	}
	 }

	 .filters label{
	 	width: 100%;
	 	text-align: center;
	 }



}
