/******************************
          FONTS          
*******************************/

@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
	@font-face {
    	font-family: $font-family;
      src: url($file-path) format('truetype');
      font-weight: $font-weight;
      font-style: $font-style;
	}
}



@include font-face('oswald-light', '../fonts/Oswald-Light.ttf', 100, normal);
@include font-face('oswald', '../fonts/Oswald-Regular.ttf', 400, normal);
@include font-face('Lato', '../fonts/Lato-Bold.ttf', 700, normal); 


/* oswald
========================================================================== */

%oswald-light{
	font-family: oswald-light, sans-serif;
	font-weight: 100;
}

%oswald-regular{
	font-family: oswald, sans-serif;
	font-weight: 400;
}


/* segoe
========================================================================== */

%segoe-light{
	font-family: segoe ui, open sans, sans-serif;
	font-weight: 100;
}

%segoe-regular{
	font-family: segoe ui, open sans, sans-serif;
	font-weight: 400;
}

%segoe-bold{
	font-family: segoe ui, open sans, sans-serif;
	font-weight: 700;
}


%segoe-italic{
	font-family: segoe ui, sans-serif;
	font-weight: 400;
	font-style: italic;
}
/* verdana
========================================================================== */

%verdana-regular{
	font-family: verdana, sans-serif;
	font-weight: 400;
}

%verdana-bold{
	font-family: verdana, sans-serif;
	font-weight: 700;
}

/* lato
========================================================================== */
%lato-bold{
	font-family: Lato, sans-serif;
	font-weight: 700;
}

