/******************************
          LOGIN PAGE & REGISTER PAGE    
*******************************/


/* LOGIN
========================================================================== */


.login {
	.form-group{
		text-align:center;
		padding: 0 15px;
	}

	.authentication-top{
		padding: 155px 0 0 0;
		background: url(../images/environment.jpg);
		background-size: cover;
	}

	.authentication-bottom{
		padding: 0 0 155px 0;
	}

	.panel-inner, .panel-default{
		border: none;	
	}

	.panel-default{
		background: transparent;
		border-radius: 0;
		overflow: hidden;
		margin: 0 auto;
		@include set-width(495px);

		span{
			@extend %form-regular-label;
			color: $babyblue;
		}

		.btn{
			color: $white;
			vertical-align:baseline;
			@extend %form-regular-label;

			&:first-child{
				width: 100%;
			}
		}
	}

	.panel-heading{
		background: $blue;
		font-size: 40px;
		@extend %label;
		@include border-top-radius(10px);		
	}

	.panel-body{
		background: $blue;

		label{
			@extend %form-label;
		}

		input{
			@include set-width(340px);
			margin: 0 auto;
		}
	}

	.checkbox {
		input{
			position: relative;
			width: auto;
		}

		label{
			margin-bottom: 0;
		}
	}

	.panel-footer{
		@include set-width(495px);
		@extend %form-footer;
	}
} 

/* REGISTER
========================================================================== */
.register{
	padding: 155px 0 155px 0;
	position: relative;

	form{
		@include set-width(745px);	
		margin: 0 auto;	
	}

	.authentication-top{
		position: absolute;
    	left: 0;
   		top: 0;
   		height: 490px;
  	 	width: 100%;
 		background: url(../images/environment-hazard.jpg) center;
 		background-size: cover;
	}

	.form-group{
		text-align:center;
		padding: 0 15px;
	}

	.panel-inner, .panel-default{
		border: none;	
	}

	.panel-default{
		background: transparent;
		border-radius: 0;
		overflow: hidden;
		margin: 0 auto;
		border: 0;
	}

	.panel-body{
		background: $blue;

		label{
			@extend %form-label;
			text-align: left; 
		}

		input{
			margin: 0 auto;
		}
	}

	.panel-heading{
		background: $blue;
		font-size: 40px;
		@extend %label;
		@include border-top-radius(10px);		
	}

	.panel-footer{
		@extend %form-footer;

	}


	.phone{
		.form-group{
		    width: 19%;
		    padding: 0;
		    margin: 0 1% 0 0;
 		   	float: left;
    		height: 34px;
		}

		.glyphicon{
			padding-top: 8px;
		}
		
	}

	.fax{
		.form-group{
			width: 32.33%;
			margin: 0 0 0 1%;
		   	float: left;	
		   	padding: 0;
		}
	}
}


/* MAX_WIDTH: 767px
========================================================================== */

@media screen and(max-width:$break-small){

	.register{
		.phone, .fax{
			.form-group{
			    width: 100%;
			    margin-bottom: 0 0 15px 0;
			}
		}
	}
}