/******************************
           PLACEHOLDERS       
*******************************/

%regular-text{
	font-size: 18px;
	line-height: 22px;
}

%share-icon {
    height: 30px;
    width: 30px;
    background-size: 100% 100%;
    display: block;	
}

%content-indent{
	margin: 0 auto;
	@include set-width(1273px);
}

%circle-button{
	width: 60px;
	height: 60px;
	border: 2px solid $white;
	display: inline-block;
	margin: 0 auto;
	border-radius: 50%;
	background:center no-repeat $babyblue;	
	background-size: 80%;	
}

%regular-button{
	@extend %segoe-bold;
	@include border-radius(10px);
	color: $white;
	padding: 10px;
	border: 0;
}

%row-margin{
	margin-top: 20px;
	margin-bottom: 30px;
}

%featured-image {
	width: 41.66666667%;
    background: red;
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    @include border-radius(10px);
}

%label {
	font-size: 18px;
	line-height:30px;
	display: inline-block;
	text-align: center;
	letter-spacing: -1px;
	color: $white;
	vertical-align: top;
	@extend %segoe-light;
}

%form-label{
	width: 100%;
	text-align:center;
	color: $white;
	font-size: 18px;
	padding: 0;
	margin-bottom: 15px;
	@extend %segoe-italic;
}

%form-regular-label{
	font-size: 18px;
	white-space: normal;
	padding: 0;
	@extend %segoe-regular;		
}



%form-footer{
	background: $navyblue;
	text-align: center;	
	margin: 0 auto;
	padding: 42px 0;
	@include inset-box-shadow(11px, 10px);
	@include border-bottom-radius(10px);

	.btn{
		color: $white;
		background: $babyblue;
		font-size: 32px;
		white-space: normal;
		text-transform: uppercase;
		@extend %regular-button;
		@extend %segoe-bold;	
		padding: 5px;
		@include set-width(212px);
	}

	.form-group{
		margin: 15px 0;
	}	
}