/******************************
          VARIABLES         
*******************************/

/* COLORS
========================================================================== */

$lightblue:  #c7eafc;
$babyblue: #00b7ff;
$blue: #0158a2;
$navyblue: #013969;
$white: #ffffff;
$black: #000000;
$gray: #585858;
$darkgray: #282828;


/* MEDIA WIDTH
========================================================================== */
$break-large: 1200px;
$break-medium: 991px;
$break-small: 767px;