/******************************
          CSS RESET        
*******************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
	 v2.0 | 20110126
	 License: none (public domain)
*/
/* line 11, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 21, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 24, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 27, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 30, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 34, ../sass/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 39, ../sass/_reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 43, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/******************************
          VARIABLES         
*******************************/
/* COLORS
========================================================================== */
/* MEDIA WIDTH
========================================================================== */
/******************************
          MIXINS         
*******************************/
/******************************
           PLACEHOLDERS       
*******************************/
/* line 5, ../sass/_placeholders.scss */
.course-listings a {
  font-size: 18px;
  line-height: 22px;
}

/* line 10, ../sass/_placeholders.scss */
ul.social-sharing .twitter a, ul.social-sharing .facebook a {
  height: 30px;
  width: 30px;
  background-size: 100% 100%;
  display: block;
}

/* line 17, ../sass/_placeholders.scss */
.courses .inner, .filters .inner, .page-title .inner, #contact_us .inner, .shopping-cart .inner {
  margin: 0 auto;
  width: 100%;
  max-width: 1273px;
}

/* line 22, ../sass/_placeholders.scss */
.courses .all, .courses .webinars, .courses .seminars, .courses .cbt {
  width: 60px;
  height: 60px;
  border: 2px solid #ffffff;
  display: inline-block;
  margin: 0 auto;
  border-radius: 50%;
  background: center no-repeat #00b7ff;
  background-size: 80%;
}

/* line 33, ../sass/_placeholders.scss */
.login .panel-footer .btn, .register .panel-footer .btn, .filters .go, #contact_us button {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px;
  border: 0;
}

/* line 41, ../sass/_placeholders.scss */
.course-listings .row {
  margin-top: 20px;
  margin-bottom: 30px;
}

/* line 46, ../sass/_placeholders.scss */
.course-listings .com-based-training, .course-listings .hazard-management, .course-listings .hazard-transportation, .course-listings .environmental, .course-listings .safety {
  width: 41.66666667%;
  background: red;
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

/* line 58, ../sass/_placeholders.scss */
.courses label, .filters label, .login .panel-heading, .register .panel-heading {
  font-size: 18px;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  letter-spacing: -1px;
  color: #ffffff;
  vertical-align: top;
}

/* line 69, ../sass/_placeholders.scss */
.login .panel-body label, .register .panel-body label {
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  padding: 0;
  margin-bottom: 15px;
}

/* line 79, ../sass/_placeholders.scss */
.login .panel-default span, .login .panel-default .btn {
  font-size: 18px;
  white-space: normal;
  padding: 0;
}

/* line 88, ../sass/_placeholders.scss */
.login .panel-footer, .register .panel-footer {
  background: #013969;
  text-align: center;
  margin: 0 auto;
  padding: 42px 0;
  -moz-box-shadow: inset 0 11px 10px -8px #000000;
  -webkit-box-shadow: inset 0 11px 10px -8px #000000;
  box-shadow: inset 0 11px 10px -8px #000000;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 96, ../sass/_placeholders.scss */
.login .panel-footer .btn, .register .panel-footer .btn {
  color: #ffffff;
  background: #00b7ff;
  font-size: 32px;
  white-space: normal;
  text-transform: uppercase;
  padding: 5px;
  width: 100%;
  max-width: 212px;
}
/* line 108, ../sass/_placeholders.scss */
.login .panel-footer .form-group, .register .panel-footer .form-group {
  margin: 15px 0;
}

/******************************
          FONTS          
*******************************/
@font-face {
  font-family: "oswald-light";
  src: url("../fonts/Oswald-Light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "oswald";
  src: url("../fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* oswald
========================================================================== */
/* line 24, ../sass/_fonts.scss */
.navbar li a {
  font-family: oswald-light, sans-serif;
  font-weight: 100;
}

/* segoe
========================================================================== */
/* line 38, ../sass/_fonts.scss */
.courses label, .filters label, .login .panel-heading, .register .panel-heading, h1, h4 {
  font-family: segoe ui, open sans, sans-serif;
  font-weight: 100;
}

/* line 43, ../sass/_fonts.scss */
.login .panel-default span, .login .panel-default .btn, .course-listings a, h3, .shopping-cart h2 {
  font-family: segoe ui, open sans, sans-serif;
  font-weight: 400;
}

/* line 48, ../sass/_fonts.scss */
.login .panel-footer .btn, .register .panel-footer .btn, .filters .go, #contact_us button, .course-listings .class {
  font-family: segoe ui, open sans, sans-serif;
  font-weight: 700;
}

/* line 54, ../sass/_fonts.scss */
.login .panel-body label, .register .panel-body label {
  font-family: segoe ui, sans-serif;
  font-weight: 400;
  font-style: italic;
}

/* verdana
========================================================================== */
/* line 62, ../sass/_fonts.scss */
.filters select, .filters .search, #contact_us .description, footer a, .shopping-cart span {
  font-family: verdana, sans-serif;
  font-weight: 400;
}

/* line 67, ../sass/_fonts.scss */
.shopping-cart .panel-body p, .shopping-cart .panel-body a, .shopping-cart .total-price {
  font-family: verdana, sans-serif;
  font-weight: 700;
}

/* lato
========================================================================== */
/* line 74, ../sass/_fonts.scss */
h5 {
  font-family: Lato, sans-serif;
  font-weight: 700;
}

/******************************
          HEADER       
*******************************/
/* line 5, ../sass/_header.scss */
header {
  background-color: #00b7ff;
  border-bottom: 5px solid #ffffff;
}

/* line 10, ../sass/_header.scss */
a.brand {
  overflow: hidden;
  display: block;
  margin-top: -15px;
}
/* line 16, ../sass/_header.scss */
a.brand img {
  max-width: 100%;
  height: auto;
}

/* line 22, ../sass/_header.scss */
.border-line {
  width: 100%;
  height: 10px;
  background-color: #c7eafc;
  position: absolute;
}

/* Social Sharing and Search Bar 
========================================================================== */
/* line 34, ../sass/_header.scss */
.social-search-container {
  padding: 0;
  background-color: #c7eafc;
  position: relative;
  border-bottom-left-radius: 10px;
  padding-left: 10px;
}
/* line 41, ../sass/_header.scss */
.social-search-container:before {
  content: "";
  position: absolute;
  left: -45px;
  border-top: 46px solid #c7eafc;
  border-left: 46px solid transparent;
  top: -11px;
}
/* line 50, ../sass/_header.scss */
.social-search-container .social-search-inner {
  float: right;
}
/* line 54, ../sass/_header.scss */
.social-search-container .inner-wrap {
  float: left;
}

/* line 60, ../sass/_header.scss */
ul.social-sharing {
  padding: 5px 0 2px 0;
}
/* line 63, ../sass/_header.scss */
ul.social-sharing .twitter a {
  background-image: url(../images/twitter.png);
}
/* line 68, ../sass/_header.scss */
ul.social-sharing .facebook a {
  background-image: url(../images/facebook.png);
}
/* line 73, ../sass/_header.scss */
ul.social-sharing li {
  display: inline-block;
}

/* line 80, ../sass/_header.scss */
#search .input {
  height: 27px;
  display: inline-block;
  margin: 5px;
}
/* line 86, ../sass/_header.scss */
#search .submit {
  border: 0;
  position: relative;
  width: 60px;
  padding: 0;
  margin: 0;
  height: 40px;
  display: inline-block;
  float: right;
  background: url(../images/search-icon.png) center no-repeat #0158a2;
}

/* NAVBAR
========================================================================== */
/* line 103, ../sass/_header.scss */
.navbar {
  margin: 0;
  border: 0;
}
/* line 107, ../sass/_header.scss */
.navbar .navbar-collapse {
  margin: 25px 0 0 0;
  overflow: initial;
}
/* line 112, ../sass/_header.scss */
.navbar .navbar-toggle {
  background: #c7eafc;
}
/* line 115, ../sass/_header.scss */
.navbar .navbar-toggle .icon-bar {
  background: #ffffff;
}
/* line 120, ../sass/_header.scss */
.navbar img {
  margin: 10px 0 0 10px;
}
/* line 124, ../sass/_header.scss */
.navbar ul {
  position: relative;
  top: 5px;
  float: right;
}
/* line 130, ../sass/_header.scss */
.navbar li a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  line-height: 13px;
  color: #000000;
  border-bottom: 5px solid white;
}
/* line 140, ../sass/_header.scss */
.navbar li a:hover, .navbar li a:focus {
  background: #ffffff;
  border-bottom: 5px solid darkblue;
}

/* MAX_WIDTH: 991px
========================================================================== */
@media screen and (max-width: 991px) {
  /* line 153, ../sass/_header.scss */
  a.brand {
    margin-top: 0;
  }
}
/* MAX_WIDTH: 767px
========================================================================== */
@media screen and (max-width: 767px) {
  /* line 165, ../sass/_header.scss */
  .navbar .navbar-collapse {
    margin: 0 -15px 5px -15px;
    float: none;
    padding: 0;
  }
  /* line 170, ../sass/_header.scss */
  .navbar .navbar-collapse ul {
    float: none;
    margin: 0;
  }
  /* line 175, ../sass/_header.scss */
  .navbar .navbar-collapse li {
    width: 100%;
  }
  /* line 179, ../sass/_header.scss */
  .navbar .navbar-collapse a {
    width: 100%;
    border-bottom: none;
  }

  /* line 189, ../sass/_header.scss */
  #search .input {
    width: 154px;
  }
  /* line 193, ../sass/_header.scss */
  #search .submit {
    width: 50px;
  }

  /* line 198, ../sass/_header.scss */
  .social-search-container {
    padding-left: 0;
    float: none !important;
    width: 100%;
    overflow: hidden;
  }
}
/******************************
           COURSE LISTING PAGE      
*******************************/
/* Courses
========================================================================== */
/* line 8, ../sass/_course-listings-page.scss */
.courses {
  background: #0158a2;
  overflow: hidden;
  margin-top: 35px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-left-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -ms-border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/* line 14, ../sass/_course-listings-page.scss */
.courses .row {
  margin: 10px 0;
}
/* line 22, ../sass/_course-listings-page.scss */
.courses h3 {
  color: #ccdeec;
  width: 100%;
  text-align: center;
}
/* line 28, ../sass/_course-listings-page.scss */
.courses .all {
  background-image: url(../images/all-courses.png);
}
/* line 33, ../sass/_course-listings-page.scss */
.courses .webinars {
  background-image: url(../images/webinar-course.png);
}
/* line 38, ../sass/_course-listings-page.scss */
.courses .seminars {
  background-image: url(../images/seminar-course.png);
}
/* line 43, ../sass/_course-listings-page.scss */
.courses .cbt {
  background-image: url(../images/cbt-course.png);
}
/* line 48, ../sass/_course-listings-page.scss */
.courses label {
  padding: 15px 0;
}

/* Filters
========================================================================== */
/* line 59, ../sass/_course-listings-page.scss */
.filters {
  background: #013969;
  -moz-box-shadow: inset 0 11px 10px -8px #000000;
  -webkit-box-shadow: inset 0 11px 10px -8px #000000;
  box-shadow: inset 0 11px 10px -8px #000000;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 64, ../sass/_course-listings-page.scss */
.filters .inner {
  overflow: hidden;
}
/* line 69, ../sass/_course-listings-page.scss */
.filters .wrap {
  text-align: center;
}
/* line 73, ../sass/_course-listings-page.scss */
.filters label {
  padding: 0;
  margin: 5px auto;
}
/* line 79, ../sass/_course-listings-page.scss */
.filters select, .filters .search {
  padding: 2px;
  margin: 5px auto;
  height: auto;
  font-size: 16px;
  border-radius: 0;
  width: 100%;
  max-width: 275px;
}
/* line 89, ../sass/_course-listings-page.scss */
.filters #course_filter {
  text-align: center;
}
/* line 93, ../sass/_course-listings-page.scss */
.filters .go {
  margin: 18px auto;
  background: #00b7ff;
  font-size: 24px;
  width: 100%;
  max-width: 200px;
}

/* Course Listings
========================================================================== */
/* line 109, ../sass/_course-listings-page.scss */
.course-listings {
  margin-top: 70px;
}
/* line 112, ../sass/_course-listings-page.scss */
.course-listings .content-wrapper {
  -moz-box-shadow: inset 0 1px 28px -8px #000000;
  -webkit-box-shadow: inset 0 1px 28px -8px #000000;
  box-shadow: inset 0 1px 28px -8px #000000;
}
/* line 115, ../sass/_course-listings-page.scss */
.course-listings .content-wrapper:first-child {
  box-shadow: none;
}
/* line 119, ../sass/_course-listings-page.scss */
.course-listings .content-wrapper:nth-child(odd) {
  background-color: #c7eafc;
}
/* line 125, ../sass/_course-listings-page.scss */
.course-listings h4 {
  letter-spacing: -1px;
}
/* line 129, ../sass/_course-listings-page.scss */
.course-listings .row {
  position: relative;
}
/* line 134, ../sass/_course-listings-page.scss */
.course-listings .column {
  position: initial;
}
/* line 138, ../sass/_course-listings-page.scss */
.course-listings .com-based-training {
  background-image: url(../images/computer-based-training.jpg);
}
/* line 143, ../sass/_course-listings-page.scss */
.course-listings .hazard-management {
  background-image: url(../images/hazardous-waste-management.jpg);
}
/* line 148, ../sass/_course-listings-page.scss */
.course-listings .hazard-transportation {
  background-image: url(../images/hazardous-materials-transportation.jpg);
}
/* line 153, ../sass/_course-listings-page.scss */
.course-listings .environmental {
  background-image: url(../images/environtmental-resource.jpg);
}
/* line 158, ../sass/_course-listings-page.scss */
.course-listings .safety {
  background-image: url(../images/safety-seminars.jpg);
}
/* line 163, ../sass/_course-listings-page.scss */
.course-listings .class-wrapper {
  margin: 0 0 20px 0;
}
/* line 166, ../sass/_course-listings-page.scss */
.course-listings .class-wrapper:last-child {
  margin: 0;
}
/* line 171, ../sass/_course-listings-page.scss */
.course-listings .class {
  text-transform: uppercase;
  font-size: 18px;
  color: #0158a2;
}
/* line 178, ../sass/_course-listings-page.scss */
.course-listings a {
  color: #585858;
}

/* MAX_WIDTH: 991px
========================================================================== */
@media screen and (max-width: 991px) {
  /* line 192, ../sass/_course-listings-page.scss */
  .course-listings .com-based-training,
  .course-listings .hazard-management,
  .course-listings .hazard-transportation,
  .course-listings .environmental,
  .course-listings .safety {
    margin: 0 auto;
    position: relative;
    height: 200px;
    width: 100%;
    top: 0;
    bottom: 0;
  }
}
/* MAX_WIDTH: 767px
========================================================================== */
@media screen and (max-width: 767px) {
  /* line 212, ../sass/_course-listings-page.scss */
  .courses {
    text-align: center;
  }
  /* line 214, ../sass/_course-listings-page.scss */
  .courses button, .courses label {
    width: 100%;
    text-align: center;
  }

  /* line 220, ../sass/_course-listings-page.scss */
  .filters label {
    width: 100%;
    text-align: center;
  }
}
/******************************
          LOGIN PAGE & REGISTER PAGE    
*******************************/
/* LOGIN
========================================================================== */
/* line 11, ../sass/_forms.scss */
.login .form-group {
  text-align: center;
  padding: 0 15px;
}
/* line 16, ../sass/_forms.scss */
.login .authentication-top {
  padding: 155px 0 0 0;
  background: url(../images/environment.jpg);
  background-size: cover;
}
/* line 22, ../sass/_forms.scss */
.login .authentication-bottom {
  padding: 0 0 155px 0;
}
/* line 26, ../sass/_forms.scss */
.login .panel-inner, .login .panel-default {
  border: none;
}
/* line 30, ../sass/_forms.scss */
.login .panel-default {
  background: transparent;
  border-radius: 0;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-width: 495px;
}
/* line 37, ../sass/_forms.scss */
.login .panel-default span {
  color: #00b7ff;
}
/* line 42, ../sass/_forms.scss */
.login .panel-default .btn {
  color: #ffffff;
  vertical-align: baseline;
}
/* line 47, ../sass/_forms.scss */
.login .panel-default .btn:first-child {
  width: 100%;
}
/* line 53, ../sass/_forms.scss */
.login .panel-heading {
  background: #0158a2;
  font-size: 40px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-left-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -ms-border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/* line 60, ../sass/_forms.scss */
.login .panel-body {
  background: #0158a2;
}
/* line 67, ../sass/_forms.scss */
.login .panel-body input {
  width: 100%;
  max-width: 340px;
  margin: 0 auto;
}
/* line 74, ../sass/_forms.scss */
.login .checkbox input {
  position: relative;
  width: auto;
}
/* line 79, ../sass/_forms.scss */
.login .checkbox label {
  margin-bottom: 0;
}
/* line 84, ../sass/_forms.scss */
.login .panel-footer {
  width: 100%;
  max-width: 495px;
}

/* REGISTER
========================================================================== */
/* line 92, ../sass/_forms.scss */
.register {
  padding: 155px 0 155px 0;
  position: relative;
}
/* line 96, ../sass/_forms.scss */
.register form {
  width: 100%;
  max-width: 745px;
  margin: 0 auto;
}
/* line 101, ../sass/_forms.scss */
.register .authentication-top {
  position: absolute;
  left: 0;
  top: 0;
  height: 490px;
  width: 100%;
  background: url(../images/environment-hazard.jpg) center;
  background-size: cover;
}
/* line 111, ../sass/_forms.scss */
.register .form-group {
  text-align: center;
  padding: 0 15px;
}
/* line 116, ../sass/_forms.scss */
.register .panel-inner, .register .panel-default {
  border: none;
}
/* line 120, ../sass/_forms.scss */
.register .panel-default {
  background: transparent;
  border-radius: 0;
  overflow: hidden;
  margin: 0 auto;
  border: 0;
}
/* line 128, ../sass/_forms.scss */
.register .panel-body {
  background: #0158a2;
}
/* line 131, ../sass/_forms.scss */
.register .panel-body label {
  text-align: left;
}
/* line 136, ../sass/_forms.scss */
.register .panel-body input {
  margin: 0 auto;
}
/* line 141, ../sass/_forms.scss */
.register .panel-heading {
  background: #0158a2;
  font-size: 40px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-left-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -ms-border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/* line 155, ../sass/_forms.scss */
.register .phone .form-group {
  width: 19%;
  padding: 0;
  margin: 0 1% 0 0;
  float: left;
  height: 34px;
}
/* line 163, ../sass/_forms.scss */
.register .phone .glyphicon {
  padding-top: 8px;
}
/* line 170, ../sass/_forms.scss */
.register .fax .form-group {
  width: 32.33%;
  margin: 0 0 0 1%;
  float: left;
  padding: 0;
}

/* MAX_WIDTH: 767px
========================================================================== */
@media screen and (max-width: 767px) {
  /* line 187, ../sass/_forms.scss */
  .register .phone .form-group, .register .fax .form-group {
    width: 100%;
    margin-bottom: 0 0 15px 0;
  }
}
/******************************
          GLOBAL    
*******************************/
/* line 18, ../sass/base.scss */
.row {
  overflow: hidden;
}

/* line 22, ../sass/base.scss */
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1522px;
}

/* line 27, ../sass/base.scss */
h1 {
  font-size: 60px;
  display: inline-block;
  line-height: 110px;
}

/* line 34, ../sass/base.scss */
h2 {
  font-size: 28px;
}

/* line 38, ../sass/base.scss */
h3 {
  font-size: 20px;
}

/* line 43, ../sass/base.scss */
h4 {
  font-size: 58px;
  line-height: 58px;
  margin-bottom: 20px;
}

/* line 50, ../sass/base.scss */
h5 {
  font-size: 18px;
}

/* Page title
========================================================================== */
/* line 62, ../sass/base.scss */
.page-title .inner {
  text-align: center;
}
/* line 67, ../sass/base.scss */
.page-title .border {
  background: url(../images/resources.jpg) repeat-x;
  background-size: auto 100%;
  height: 178px;
}
/* line 73, ../sass/base.scss */
.page-title h1 {
  position: relative;
  margin: -98px auto 0 auto;
  vertical-align: top;
  background: #ffffff;
  padding: 1px 10px;
  width: auto;
  min-width: 670px;
  max-width: 100%;
  word-break: break-word;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-top-left-radius: 15px;
  -moz-border-top-right-radius: 15px;
  -ms-border-top-left-radius: 15px;
  -ms-border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
/* line 86, ../sass/base.scss */
.page-title h1:before {
  position: absolute;
  content: "";
  border-left: 100px solid transparent;
  border-bottom: 107px solid #ffffff;
  left: -95px;
  top: 4px;
}
/* line 95, ../sass/base.scss */
.page-title h1:after {
  position: absolute;
  content: "";
  border-right: 100px solid transparent;
  border-bottom: 107px solid #ffffff;
  right: -95px;
  top: 4px;
}

/* CONTACT US
========================================================================== */
/* line 108, ../sass/base.scss */
#contact_us {
  background: url(../images/safety.jpg) center;
  background-size: cover;
  color: #ffffff;
}
/* line 113, ../sass/base.scss */
#contact_us .inner {
  padding: 65px 20px;
  overflow: hidden;
}
/* line 119, ../sass/base.scss */
#contact_us h5 {
  letter-spacing: -1px;
}
/* line 123, ../sass/base.scss */
#contact_us .row {
  background: #00b7ff;
  overflow: hidden;
  text-align: center;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
/* line 131, ../sass/base.scss */
#contact_us .column {
  padding: 20px 10px;
}
/* line 135, ../sass/base.scss */
#contact_us .description {
  font-size: 14px;
}
/* line 140, ../sass/base.scss */
#contact_us .button-container {
  background: #ffffff;
  display: block;
  position: absolute;
  right: 0;
  text-align: center;
  height: 100%;
}
/* line 149, ../sass/base.scss */
#contact_us .button-wrapper {
  display: table;
  height: 100%;
  width: 100%;
}
/* line 155, ../sass/base.scss */
#contact_us .inner-wrap {
  display: table-cell;
  vertical-align: middle;
}
/* line 160, ../sass/base.scss */
#contact_us button {
  background: #0158a2;
  font-size: 20px;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 206px;
}

/* FOOTER
========================================================================== */
/* line 175, ../sass/base.scss */
footer {
  background: #282828;
  text-align: center;
  padding: 30px 0;
}
/* line 184, ../sass/base.scss */
footer li {
  display: inline-block;
  padding: 0 10px;
  border-left: 2px solid #585858;
}
/* line 189, ../sass/base.scss */
footer li:first-child {
  border-left: none;
}
/* line 194, ../sass/base.scss */
footer a {
  color: #585858;
  font-size: 16px;
}
/* line 199, ../sass/base.scss */
footer a:hover {
  color: #ffffff;
  text-decoration: none;
}

/* MAX_WIDTH: 991px
========================================================================== */
@media screen and (max-width: 991px) {
  /* line 211, ../sass/base.scss */
  #contact_us .column {
    padding: 20px;
  }
}
/* MAX_WIDTH: 767px
========================================================================== */
@media screen and (max-width: 767px) {
  /* line 219, ../sass/base.scss */
  h1, h4 {
    font-size: 50px;
    line-height: 50px;
  }

  /* line 225, ../sass/base.scss */
  h5 {
    font-size: 30px;
  }

  /* line 229, ../sass/base.scss */
  label {
    font-size: 24px;
  }

  /* line 233, ../sass/base.scss */
  .page-title h1 {
    min-width: auto;
    margin-top: -60px;
    padding-bottom: 10px;
  }

  /* line 240, ../sass/base.scss */
  #contact_us .button-container {
    position: relative;
  }
  /* line 244, ../sass/base.scss */
  #contact_us .row {
    padding: 0;
  }
}
/* Shopping Cart
========================================================================== */
/* line 257, ../sass/base.scss */
.shopping-cart fieldset {
  border: 1px solid #000000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
/* line 266, ../sass/base.scss */
.shopping-cart h2 {
  color: #ffffff;
}
/* line 271, ../sass/base.scss */
.shopping-cart .panel-inner, .shopping-cart fieldset {
  overflow: hidden;
}
/* line 275, ../sass/base.scss */
.shopping-cart .panel-heading {
  background-color: #0158a2;
}
/* line 280, ../sass/base.scss */
.shopping-cart .panel-body p, .shopping-cart .panel-body span, .shopping-cart .panel-body a {
  font-size: 20px;
  width: 100%;
}
/* line 285, ../sass/base.scss */
.shopping-cart .panel-body p, .shopping-cart .panel-body a {
  text-align: left;
  color: #0158a2;
}
/* line 291, ../sass/base.scss */
.shopping-cart .panel-body .column, .shopping-cart .panel-body .description {
  padding-bottom: 30px;
}
/* line 297, ../sass/base.scss */
.shopping-cart span {
  text-align: right;
  display: block;
  color: #585858;
}
/* line 309, ../sass/base.scss */
.shopping-cart .subtotal .column {
  padding-top: 30px;
}
/* line 312, ../sass/base.scss */
.shopping-cart .subtotal .column:last-child {
  border-top: 3px solid #585858;
}

/* MAX_WIDTH: 991px
========================================================================== */
@media screen and (max-width: 991px) {
  /* line 327, ../sass/base.scss */
  .shopping-cart .subtotal {
    padding-top: 30px;
    border-top: 3px solid #585858;
  }
  /* line 331, ../sass/base.scss */
  .shopping-cart .subtotal .column {
    padding-top: 0;
  }
  /* line 334, ../sass/base.scss */
  .shopping-cart .subtotal .column:last-child {
    border-top: 0;
  }
}
/* MAX_WIDTH: 767px
========================================================================== */
@media screen and (max-width: 767px) {
  /* line 346, ../sass/base.scss */
  .shopping-cart span {
    text-align: left;
  }
}
