<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>ZURBemails</title>
    <!-- <style> -->
</head>
<body bgcolor="#FFFFFF" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">
<table class="head-wrap" bgcolor="#999999">
<tbody>
<tr>
<td>&nbsp;</td>
<td class="header container">
<div class="content">
<table bgcolor="#999999">
<tbody>
<tr>
<td><img src="http://placehold.it/200x50/" /></td>
<td align="right">
<h6 class="collapse">Environmental Resource Center</h6>
</td>
</tr>
</tbody>
</table>
</div>
</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<table class="body-wrap">
<tbody>
<tr>
<td>&nbsp;</td>
<td class="container" bgcolor="#FFFFFF">
<div class="content">
<table>
<tbody>
<tr>
<td>
<p><p>
<p>[user]</p>
<strong>Hi! [name]</strong><br>
[company]<br>
[address1]<br>
[address2]<br>
<p>[/user]</p>
<p></p>
<p>Thank you for your order from Environmental Resource Center.</p>
<p>You can check the status of your order <a href="{{ url('/home') }}">here</a></p>
<p>If you have questions about your order, you can email us at erc@wercweb.com or call at 000-000-000</a></p>
<ul>
<h3>Billing Address</h3>
<p>[address1]<br>
[address2]</p>
<h3>Payment Details</h3>
<p><strong>Card Number: </strong>[masked_number]</p>
<p><strong>Amount: </strong>[amount]</p>
<h3>Order Items</h3>
<ul>
<p>[class]</p>
<li>[name] in [city], [state] - [start].</li>
<p>[/class]</p>
</ul>
<p></p>
<p></p>
</ul>
<p></p>
<p></p>
</td>
</tr>
</tbody>
</table>
</div>
</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<table class="footer-wrap">
<tbody>
<tr>
<td>&nbsp;</td>
<td class="container">
<div class="content">
<table>
<tbody>
<tr>
<td align="center">
<p><a href="#">Terms</a> | <a href="#">Privacy</a> | <a href="#">Unsubscribe</a></p>
</td>
</tr>
</tbody>
</table>
</div>
</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
</body>
</html>