/* Admin Styling */

/**
 * @author : Cyril Yu <cyril@cspreston.com>
 * @since : February 2016
 * @project : ERC Web
 */

/* Admin Pages */

.label {
    border-radius: 0px;
}

.required {
    color: #c23321;
}

.block {
    display: block !important; 
}

.no-border {
    border: none;
}

.tooltip-sm {
    font-size: 10px;
}

.icheckbox_flat-green.checked.disabled {
    background-position: -22px 0 !important;
}

.select2-container {
    width: 100% !important;
}

/**
 * Bootstrap
 */

    .bs-callout {
        padding: 20px;
        margin: 20px 0;
        border: 1px solid #eee;
        border-left-width: 5px;
        border-radius: 3px
    }

    .bs-callout h4 {
        margin-top: 0;
        margin-bottom: 5px
    }

    .bs-callout p:last-child {
        margin-bottom: 0
    }

    .bs-callout code {
        border-radius: 3px
    }

    .bs-callout + .bs-callout {
        margin-top: -5px
    }

    .bs-callout-danger {
        border-left-color: #ce4844
    }

    .bs-callout-danger h4 {
        color: #ce4844
    }

    .bs-callout-warning {
        border-left-color: #aa6708
    }

    .bs-callout-warning h4 {
        color: #aa6708
    }

    .bs-callout-info {
        border-left-color: #1b809e
    }

    .bs-callout-info h4 {
        color: #1b809e
    }
/* End Bootstrap */

.content-header {

    .other-details {
        width: 100%;
        position: relative;
        top: 20px;

        .address {
            font-size: 18px;
            word-wrap: break-word;
            width: 30%;
        }

        .user-options-container {
            width: 70%;
        }

    }

    .cart-header {
        width: 75%;
        margin: 0 auto;
        text-align: center;
    }
}

.content {

    .box-header{

        label {
            font-weight: normal;
        }

        .form-control {
            width:  180px;
            height: 30px !important;
        }

        label {
            display: inline;
        }

        .status-filter {
            display: inline;

            select {
                display: inline;
            }
        }

        .subs-options-container {

            .form-group {

                width: 450px;
                height: 30px;

                label {
                    padding: 0px;
                }

                .price {

                    width: 200px;

                    button {
                        margin-bottom: 3px;
                    }
                }
            }
        }
    }

    .box-users {
        margin-top: 50px;

        .box-header {
            padding: 0px 10px;
        }
    }

    .box-header-users {

        .search-filter {
            margin: 0px;
        }
    }

    .row-order-items {
        width: 65%;
        margin: 0 auto;

        .box-container {

            .box-solid {
                margin-bottom: 9px;

                .box-title {
                    //width: 432px;
                    width: 100%;
                    word-wrap: break-word;
                }
            }
        }

        .total-container {
            .info-box {
                min-height: 0px;

                &-icon {
                    height: 35px;
                    line-height: 36px;
                    font-size: 35px;
                }

                &-content {

                    .info-box-text,
                    .info-box-number {
                        padding-left: 0px;
                        display: inline;
                        font-size: 18px;
                    }

                    .info-box-number {
                        margin-right: 75px;
                    }
                }
            }
        }
    }

    .box-body {

        .pager-details-container {
            margin-top: 25px;
        }

        .details {
            .schedule, .venue {
                display: inline;
            }
        }

        .details {
            margin-bottom: 40px;
        }

        .attendees {

            h5 {
                display: inline;
            }

            .list {
                padding: 0;
                list-style: none;

                li.attendee {
                    button, a.btn {
                        line-height: 21px;
                        vertical-align: top;
                        width: 90px;
                    }
                }

                li {
                    margin-top: 20px;

                    input {
                        width: 85px;
                    }
                    
                    .checkbox {
                        display: inline;
                        width: 20px;
                    }

                    .discount-title {
                        margin-bottom: 10px;
                    }

                    .item-price-container {
                        text-align: right;
                    }

                    .cancel-registration {
                        margin-left: 0px;
                        margin-bottom: 0px;
                        width: 140px;
                        line-height: 18px;
                    }

                    .order-modification-btn {
                        padding: 5px;
                    }

                    .cancel-label {
                        padding: 5px;
                    }
                }
            }

            .adjustment-date {
                margin-top: 10px;
            }

            .order-adjustment-amount {
                width: 95px;
            }
            
            .change-order-adjustment-price {
                width: 80px;
                margin-bottom: 4px;
                padding: 3px;
            }

            .remove-order-adjustment {
                width: 12%;
                margin-bottom: 4px;
                padding: 3px;
            }
        }

        .total {
            margin-top: 30px;
            margin-bottom: 10px;
            clear: both;

            b {
                color: #dd4b39;
            }

            .total-cost {
                margin-right: 75px;
                font-weight: 700;
            }
        }

        table {

            span.label-info {
                display: block;
                padding: 5px;
                margin: 5px;

                .link-to-user {
                    color: #fff;
                }
            }

            .btn-block {
                font-size: 12px;
                padding: 5px;
            }

            span.cancellation-note {
                cursor: pointer;
            }
        }

        .table-classes {

            button, a {
                padding: 5px;
                font-size: 12px;
            }
        }

        .order-modification-amount {
            b {
                color: #dd4b39;
            }

            .checkout {
                margin-top: 20px;
                width: 100%
            }

            .accounting {
                margin-top: 130px;
                width: 200px;
            }
        }

        .notify-accounting-container {
            margin-top: 20px;
        }

        .mce-container {
            .mce-edit-area {
                border-width: 1px 1px 0px 0px !important;
            }
        }

    }

    .transaction-buttons {

        a, button {
            width: 33%;
            margin-top: 10px;
        }
    }

    .box-corp-seat-container {
        width: 50%;
        margin: 0 auto;
        font-weight: 700;

        .box-corp-seats {
            padding-bottom: 30px;
            margin: 0 20px;
            padding-top: 0px;

            .seat-container {
                margin-top: 20px;
            }

            .transaction-buttons {
                text-align: center;
                margin-top: 30px;

                .btn {
                    margin-right: 5px;
                }
            }
        }
    }

    .payment-details {

        .panel-heading {

            .display-tr {
                margin: 0 auto;

                h3 {
                    text-align: center;
                    font-weight: 500;
                    font-size: 20px;
                }

                div {
                    width: 200px;
                    margin: 0 auto;
                }
            }
        }

        .order-items {

            .item-title {
                font-weight: 700;
            }

            .summary-info {

                .attendees-info {
                    margin-top: 10px;

                    .attendees, .subscribers {
                        font-style: italic;
                    }

                    .list {
                        list-style-type: none;
                        padding: 0px;
                    }

                    .total {
                        clear:both;
                        text-align: right;

                        p {
                            display: inline;
                        }
                    }
                }
            }
            
            .sub-total-box {
                text-align: right;

                span {
                    display: inline;
                }
            }
        }

        .invoice-details {
            margin-top: 10px;

            .invoice-text {
                width: 240px;
            }
        }

        .payment-image {
            width: 240px;
            height: 200px;
        }

        .download-payment {
            text-align: center;
        }

    }

    .payment-success {
        margin: 0 auto;
        width: 50%;

        .success-payment {

            width: 100%;
            text-align: center;
            border-radius: 0px;
            margin: 0 auto;
        }
    }

    .course-list, .class-list {
        overflow: auto;
        max-height: 300px;
        border: 1px solid #ccc;
    }

    .coupon-navigation {

        .coupon-form {
            float: none;

            .coupon-text {
                height: 30px;
            }

            button {
                margin-bottom: 4px;
            }

        }
    }

    .edit-profile-form, .training-form {

        .alert {
            padding: 8px;
            margin-top: 10px;
        }

        textarea {
            resize: none;
        }

        button.btn, a.btn {
            margin-top: 20px;
        }

        .course-mill-alert {
            margin-bottom: 0;
        }
    }

    .actions {
        margin-top: 20px;
    }
}


body.admin {
    &.emails,
    &.posts {
        &.index {
            .mce-tinymce.mce-container.mce-panel.mce-fullscreen {
                z-index: 2000;
            }
        }
    }

    &.tips,
    &.regulations {
        &.add {
            .mce-tinymce.mce-container.mce-panel.mce-fullscreen {
                z-index: 2000;
            }
        }
    }
}

.ui-notification {
    padding: 20px;
    font-size: 16pt;
    min-width: 300px;
    width: auto;
}

.btn-flat { border-radius: 0px !important; }

h3.book-title {
    font-size: 17px;
    font-weight: bold;
    color: #555;
    min-height: 54px;
}

td small.label {
    width: 90px;
    display: inline-block;
    text-align: left;
    padding: 5px 3px 3px 5px;
}

.action button.btn, .action a.btn {
    width: 120px;
}

.action button.btn-block, .action a.btn-block {
    width: 100% !important;
}

.modal {
    textarea {
        height: auto;
        resize: none;
    }
}

.mce-btn button {
    padding: 4px !important;
    line-height: 0px;

    i {
        font-size: 14px;
    }
}

dl.webcast.dl-horizontal dt {
    font-weight: normal;
    font-size: 85%;
}

dl.webcast.dl-horizontal dd .btn {
    margin-bottom: 3px;
}

table.table-striped {
    color: #676a6c;
}
table.table-striped>thead>tr>th {
    border-bottom: 1px solid #DDDDDD;
}

@media (min-width: 768px) {
    dl.webcast.dl-horizontal dt {
        width: 70px;
    }

    dl.webcast.dl-horizontal dd {
        margin-left: 80px;
    }
}

.main-footer-blend {
    border-color: #ecf0f5 !important;
    background: #ecf0f5 !important;
}

.contacts-related {

    ul.classes {
        list-style-type: none;
        padding: 0;
        font-size: 0.9em;

        li.related {

            padding-left: 20px;

            label {
                font-weight: normal;
                color: #777;
            }
        }

        li.related-head {
            color: #777;
            padding: 3px 0;
            hr {
                margin: 5px 0;
            }
        }

    }

}
.table-hover > tbody > tr.registered:hover > td,
.registered > td {
    background-color: #FFF;
    color: #777;
}