// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* Globals */

span.required {
  text-align: justify !important;
  display: inline !important;
  color: #ff0000 !important;
}

.inline {
  display: inline;
}

.block {
  display: block !important;
}

body > .container {
	padding: 0 !important;
}

small {
  font-size: 12px;
}

.icheckbox_flat-green.checked.disabled {
  background-position: -22px 0 !important;
}

.select2-container {
  width: 100% !important;
}

.live-chat-img {
  cursor: pointer;
}

.blue-btn {
  font-weight: 600;
  background: #00b7ff;
  font-size: 15px;
  padding: 8px;
  display: inline-block;
  text-align: center;
  border-radius: 2px;
  color: #fff;

  &:hover {
      color: #fff;
  }
}

.text-center {
    text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.required-text {
    color: #c23321 !important;
}

.blue-bg {
  background-color: #0158a2;
  color: #fff;
}

/*
 * Retina Capture
 */
body.large {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -webkit-transform-origin: 0% 0%;
    -moz-transform: scale(1.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1.5);
    -o-transform-origin: 0 0;
    -ms-transform: scale(1.5);
    -ms-transform-origin: 0 0;
    width: 50%;
}
body.larger {
    transform: scale(2);
    -webkit-transform: scale(2);
    -webkit-transform-origin: 0% 0%;
    -moz-transform: scale(2);
    -moz-transform-origin: 0 0;
    -o-transform: scale(2);
    -o-transform-origin: 0 0;
    -ms-transform: scale(2);
    -ms-transform-origin: 0 0;
    width: 50%;
}

h3.book-title {
  font-size: 17px;
  font-weight: bold;
  color: #555;
  min-height: 63px;
  line-height: 21px;
}

h3.price { color: red; }

h5.title { color: #0158a2; margin-bottom: 10px; }


.btn-flat { border-radius: 0px !important; }

#coupon-code {
  height: 40px;
  background: #FAFAFA;
  border: 1px solid #CCC;
}

.modal {
    textarea {
        height: auto;
        resize: none;
    }
}

.site-map {
  a {
    color: #0158a2;
    line-height: 30px;
    display: block;

      &:hover {
        color: #0158a2;
      }
  }
}