div.ei, input.ei {
    border: solid 1px #cccccc;
    background-color:#ffffff;
    padding: 5px;
    cursor:text;
    min-height: 45px;
    border-radius: 0px;
}

.ei_box {
    padding: 5px;
    margin: 2px;
    margin:1px;
    padding:1px 3px;
    width:auto;
    display: inline-block;
}

span.ei_valid {
    border:1px solid #bbd8fb;
    background-color:#f3f7fd;
    cursor:pointer;
    padding: 5px;
    display: inline-block !important;
}

span.ei_invalid {
    border:1px solid #b55e5e;
    background-color:#fdf5f5;
    cursor:pointer;
    padding: 5px;
    display: inline-block !important;
}

#eai_input {
    width: auto;
    display: inline !important;
}



