/******************************
          CSS RESET        
*******************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
	 v2.0 | 20110126
	 License: none (public domain)
*/
/* line 11, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 21, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 24, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 27, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 30, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 34, ../sass/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 39, ../sass/_reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 43, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/******************************
          VARIABLES         
*******************************/
/* COLORS
========================================================================== */
/* MEDIA WIDTH
========================================================================== */
/******************************
          MIXINS         
*******************************/
/******************************
           PLACEHOLDERS       
*******************************/
/* line 5, ../sass/_placeholders.scss */
ul.social-sharing .twitter a, ul.social-sharing .facebook a {
  height: 30px;
  width: 30px;
  background-size: 100% 100%;
  display: block;
}

/* line 12, ../sass/_placeholders.scss */
.courses .inner, .filters .inner, .page-title .inner, #contact_us .inner {
  margin: 0 auto;
  width: 100%;
  max-width: 1273px;
}

/* line 17, ../sass/_placeholders.scss */
.courses .all, .courses .webinars, .courses .seminars, .courses .cbt {
  width: 228px;
  height: 228px;
  border: 5px solid #ffffff;
  display: block;
  margin: 0 auto;
  background-size: auto;
  border-radius: 50%;
  background: center no-repeat #00b7ff;
}

/* line 28, ../sass/_placeholders.scss */
.filters .go, #contact_us button {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px;
  border: 0;
}

/* line 36, ../sass/_placeholders.scss */
.courses .row, .filters .row, .course-listings .row {
  margin: 20px 0 30px 0;
}

/* line 40, ../sass/_placeholders.scss */
.course-listings .com-based-training, .course-listings .hazard-management, .course-listings .hazard-transportation, .course-listings .environmental, .course-listings .safety {
  width: 41.66666667%;
  background: red;
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

/******************************
          FONTS          
*******************************/
@font-face {
  font-family: "oswald";
  src: url("../fonts/Oswald-Light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "oswald";
  src: url("../fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* oswald
========================================================================== */
/* line 24, ../sass/_fonts.scss */
.navbar li a {
  font-family: oswald, sans-serif;
  font-weight: 100;
}

/* segoe
========================================================================== */
/* line 38, ../sass/_fonts.scss */
h1, h4, label {
  font-family: segoe ui, sans-serif;
  font-weight: 100;
}

/* line 43, ../sass/_fonts.scss */
.course-listings a, h3 {
  font-family: segoe ui, sans-serif;
  font-weight: 400;
}

/* line 48, ../sass/_fonts.scss */
.filters .go, #contact_us button {
  font-family: segoe ui, sans-serif;
  font-weight: 700;
}

/* verdana
========================================================================== */
/* line 56, ../sass/_fonts.scss */
.filters select, .filters .search, #contact_us .description, footer a {
  font-family: verdana, sans-serif;
  font-weight: 400;
}

/* lato
========================================================================== */
/* line 64, ../sass/_fonts.scss */
h5 {
  font-family: Lato, sans-serif;
  font-weight: 700;
}

/******************************
          HEADER       
*******************************/
/* line 5, ../sass/_header.scss */
header {
  background-color: #00b7ff;
  border-bottom: 5px solid #ffffff;
}

/* line 10, ../sass/_header.scss */
a.brand {
  overflow: hidden;
  display: block;
  margin-top: -15px;
}
/* line 16, ../sass/_header.scss */
a.brand img {
  max-width: 100%;
}

/* line 21, ../sass/_header.scss */
.border-line {
  width: 100%;
  height: 10px;
  background-color: #c7eafc;
  position: absolute;
}

/* Social Sharing and Search Bar 
========================================================================== */
/* line 33, ../sass/_header.scss */
.social-search-container {
  padding: 0;
  background-color: #c7eafc;
  position: relative;
  border-bottom-left-radius: 10px;
  padding-left: 10px;
}
/* line 40, ../sass/_header.scss */
.social-search-container:before {
  content: "";
  position: absolute;
  left: -45px;
  border-top: 46px solid #c7eafc;
  border-left: 46px solid transparent;
  top: -11px;
}
/* line 49, ../sass/_header.scss */
.social-search-container .social-search-inner {
  float: right;
}
/* line 53, ../sass/_header.scss */
.social-search-container .inner-wrap {
  float: left;
}

/* line 59, ../sass/_header.scss */
ul.social-sharing {
  padding: 5px 0 2px 0;
}
/* line 62, ../sass/_header.scss */
ul.social-sharing .twitter a {
  background-image: url(../images/twitter.png);
}
/* line 67, ../sass/_header.scss */
ul.social-sharing .facebook a {
  background-image: url(../images/facebook.png);
}
/* line 72, ../sass/_header.scss */
ul.social-sharing li {
  display: inline-block;
}

/* line 79, ../sass/_header.scss */
#search .input {
  height: 27px;
  display: inline-block;
  margin: 5px;
}
/* line 85, ../sass/_header.scss */
#search .submit {
  border: 0;
  position: relative;
  width: 60px;
  padding: 0;
  margin: 0;
  height: 40px;
  display: inline-block;
  float: right;
  background: url(../images/search-icon.png) center no-repeat #0158a2;
}

/* NAVBAR
========================================================================== */
/* line 102, ../sass/_header.scss */
.navbar {
  margin: 0;
  border: 0;
}
/* line 106, ../sass/_header.scss */
.navbar .navbar-collapse {
  margin: 25px 0 0 0;
  overflow: initial;
}
/* line 111, ../sass/_header.scss */
.navbar .navbar-toggle {
  background: #c7eafc;
}
/* line 114, ../sass/_header.scss */
.navbar .navbar-toggle .icon-bar {
  background: #ffffff;
}
/* line 119, ../sass/_header.scss */
.navbar img {
  margin: 10px 0 0 10px;
}
/* line 123, ../sass/_header.scss */
.navbar ul {
  position: relative;
  top: 5px;
  float: right;
}
/* line 129, ../sass/_header.scss */
.navbar li a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  line-height: 13px;
  color: #000000;
  border-bottom: 5px solid white;
}
/* line 139, ../sass/_header.scss */
.navbar li a:hover, .navbar li a:focus {
  background: #ffffff;
  border-bottom: 5px solid darkblue;
}

/* MAX_WIDTH: 991px
========================================================================== */
@media screen and (max-width: 991px) {
  /* line 152, ../sass/_header.scss */
  a.brand {
    margin-top: 0;
  }
}
/* MAX_WIDTH: 767px
========================================================================== */
@media screen and (max-width: 767px) {
  /* line 164, ../sass/_header.scss */
  .navbar .navbar-collapse {
    margin: 0 -15px 5px -15px;
    float: none;
    padding: 0;
  }
  /* line 169, ../sass/_header.scss */
  .navbar .navbar-collapse ul {
    float: none;
    margin: 0;
  }
  /* line 174, ../sass/_header.scss */
  .navbar .navbar-collapse li {
    width: 100%;
  }
  /* line 178, ../sass/_header.scss */
  .navbar .navbar-collapse a {
    width: 100%;
    border-bottom: none;
  }

  /* line 188, ../sass/_header.scss */
  #search .input {
    width: 154px;
  }
  /* line 192, ../sass/_header.scss */
  #search .submit {
    width: 50px;
  }

  /* line 197, ../sass/_header.scss */
  .social-search-container {
    padding-left: 0;
    float: none !important;
    width: 100%;
    overflow: hidden;
  }
}
/******************************
           COURSE LISTING PAGE      
*******************************/
/* Courses
========================================================================== */
/* line 8, ../sass/_course-listings-page.scss */
.courses {
  background: #0158a2;
  overflow: hidden;
  margin-top: 35px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-left-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -ms-border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/* line 22, ../sass/_course-listings-page.scss */
.courses h3 {
  color: #ccdeec;
  width: 100%;
  text-align: center;
}
/* line 28, ../sass/_course-listings-page.scss */
.courses .all {
  background-image: url(../images/all-courses.png);
}
/* line 33, ../sass/_course-listings-page.scss */
.courses .webinars {
  background-image: url(../images/webinar-course.png);
}
/* line 38, ../sass/_course-listings-page.scss */
.courses .seminars {
  background-image: url(../images/seminar-course.png);
}
/* line 43, ../sass/_course-listings-page.scss */
.courses .cbt {
  background-image: url(../images/cbt-course.png);
}
/* line 48, ../sass/_course-listings-page.scss */
.courses label {
  margin: 20px auto 20px auto;
}

/* Filters
========================================================================== */
/* line 58, ../sass/_course-listings-page.scss */
.filters {
  background: #013969;
  -moz-box-shadow: inset 0 11px 10px -8px #000000;
  -webkit-box-shadow: inset 0 11px 10px -8px #000000;
  box-shadow: inset 0 11px 10px -8px #000000;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 67, ../sass/_course-listings-page.scss */
.filters .inner {
  overflow: hidden;
}
/* line 72, ../sass/_course-listings-page.scss */
.filters .wrap {
  text-align: center;
}
/* line 76, ../sass/_course-listings-page.scss */
.filters select, .filters .search {
  padding: 10px;
  margin: 25px auto;
  height: auto;
  font-size: 16px;
  border-radius: 0;
  width: 100%;
  max-width: 275px;
}
/* line 86, ../sass/_course-listings-page.scss */
.filters #course_filter {
  text-align: center;
}
/* line 90, ../sass/_course-listings-page.scss */
.filters .go {
  background: #00b7ff;
  font-size: 58px;
  width: 100%;
  max-width: 370px;
}

/* Course Listings
========================================================================== */
/* line 105, ../sass/_course-listings-page.scss */
.course-listings {
  margin-top: 70px;
}
/* line 108, ../sass/_course-listings-page.scss */
.course-listings .content-wrapper {
  -moz-box-shadow: inset 0 1px 28px -8px #000000;
  -webkit-box-shadow: inset 0 1px 28px -8px #000000;
  box-shadow: inset 0 1px 28px -8px #000000;
}
/* line 111, ../sass/_course-listings-page.scss */
.course-listings .content-wrapper:first-child {
  box-shadow: none;
}
/* line 115, ../sass/_course-listings-page.scss */
.course-listings .content-wrapper:nth-child(odd) {
  background-color: #c7eafc;
}
/* line 121, ../sass/_course-listings-page.scss */
.course-listings .row {
  position: relative;
}
/* line 126, ../sass/_course-listings-page.scss */
.course-listings .column {
  position: initial;
}
/* line 130, ../sass/_course-listings-page.scss */
.course-listings .com-based-training {
  background-image: url(../images/computer-based-training.jpg);
}
/* line 135, ../sass/_course-listings-page.scss */
.course-listings .hazard-management {
  background-image: url(../images/hazardous-waste-management.jpg);
}
/* line 140, ../sass/_course-listings-page.scss */
.course-listings .hazard-transportation {
  background-image: url(../images/hazardous-materials-transportation.jpg);
}
/* line 145, ../sass/_course-listings-page.scss */
.course-listings .environmental {
  background-image: url(../images/environtmental-resource.jpg);
}
/* line 150, ../sass/_course-listings-page.scss */
.course-listings .safety {
  background-image: url(../images/safety-seminars.jpg);
}
/* line 155, ../sass/_course-listings-page.scss */
.course-listings a {
  color: #585858;
  font-size: 20px;
  line-height: 27px;
}

/* MAX_WIDTH: 991px
========================================================================== */
@media screen and (max-width: 991px) {
  /* line 170, ../sass/_course-listings-page.scss */
  .course-listings .com-based-training,
  .course-listings .hazard-management,
  .course-listings .hazard-transportation,
  .course-listings .environmental,
  .course-listings .safety {
    margin: 0 auto;
    position: relative;
    height: 200px;
    width: 100%;
    top: 0;
    bottom: 0;
  }
}
/* MAX_WIDTH: 767px
========================================================================== */
@media screen and (max-width: 767px) {
  /* line 189, ../sass/_course-listings-page.scss */
  .filters .go {
    font-size: 38px;
    width: 80%;
  }
}
/******************************
          VARIABLES         
*******************************/
/* MAX_WIDTH: 991px
========================================================================== */
/* MAX_WIDTH: 767px
========================================================================== */
/******************************
          GLOBAL    
*******************************/
/* line 18, ../sass/base.scss */
.row {
  overflow: hidden;
}

/* line 22, ../sass/base.scss */
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1522px;
}

/* line 27, ../sass/base.scss */
h1 {
  font-size: 78px;
  display: inline-block;
  line-height: 110px;
}

/* line 34, ../sass/base.scss */
h3 {
  font-size: 38px;
}

/* line 39, ../sass/base.scss */
h4 {
  font-size: 78px;
  line-height: 70px;
  margin-bottom: 20px;
}

/* line 46, ../sass/base.scss */
h5 {
  font-size: 34px;
}

/* line 51, ../sass/base.scss */
label {
  font-size: 28px;
  display: block;
  width: 100%;
  text-align: center;
  letter-spacing: -1px;
  padding-top: 10px;
  color: #ffffff;
}

/* Page title
========================================================================== */
/* line 67, ../sass/base.scss */
.page-title .inner {
  text-align: center;
}
/* line 72, ../sass/base.scss */
.page-title .border {
  background: url(../images/resources.jpg) repeat-x;
  background-size: auto 100%;
  height: 178px;
}
/* line 78, ../sass/base.scss */
.page-title h1 {
  position: relative;
  margin: -110px auto 0 auto;
  vertical-align: top;
  background: #ffffff;
  padding: 1px 10px;
  width: auto;
  min-width: 670px;
  max-width: 100%;
  word-break: break-word;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-top-left-radius: 15px;
  -moz-border-top-right-radius: 15px;
  -ms-border-top-left-radius: 15px;
  -ms-border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
/* line 91, ../sass/base.scss */
.page-title h1:before {
  position: absolute;
  content: "";
  border-left: 100px solid transparent;
  border-bottom: 107px solid #ffffff;
  left: -95px;
  top: 4px;
}
/* line 100, ../sass/base.scss */
.page-title h1:after {
  position: absolute;
  content: "";
  border-right: 100px solid transparent;
  border-bottom: 107px solid #ffffff;
  right: -95px;
  top: 4px;
}

/* CONTACT US
========================================================================== */
/* line 113, ../sass/base.scss */
#contact_us {
  background: url(../images/safety.jpg) center;
  background-size: cover;
  color: #ffffff;
}
/* line 118, ../sass/base.scss */
#contact_us .inner {
  padding: 65px 0;
}
/* line 123, ../sass/base.scss */
#contact_us .row {
  background: #00b7ff;
  overflow: hidden;
  text-align: center;
  position: relative;
  margin: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
/* line 132, ../sass/base.scss */
#contact_us .column {
  padding: 40px 50px;
}
/* line 136, ../sass/base.scss */
#contact_us .description {
  font-size: 20px;
}
/* line 141, ../sass/base.scss */
#contact_us .button-container {
  background: #ffffff;
  display: block;
  position: absolute;
  right: 0;
  text-align: center;
  height: 100%;
}
/* line 150, ../sass/base.scss */
#contact_us .button-wrapper {
  display: table;
  height: 100%;
  width: 100%;
}
/* line 156, ../sass/base.scss */
#contact_us .inner-wrap {
  display: table-cell;
  vertical-align: middle;
}
/* line 161, ../sass/base.scss */
#contact_us button {
  background: #0158a2;
  font-size: 26px;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 206px;
}

/* FOOTER
========================================================================== */
/* line 176, ../sass/base.scss */
footer {
  background: #282828;
  text-align: center;
  padding: 30px 0;
}
/* line 185, ../sass/base.scss */
footer li {
  display: inline-block;
  padding: 0 10px;
  border-left: 2px solid #585858;
}
/* line 190, ../sass/base.scss */
footer li:first-child {
  border-left: none;
}
/* line 195, ../sass/base.scss */
footer a {
  color: #585858;
  font-size: 16px;
}
/* line 200, ../sass/base.scss */
footer a:hover {
  color: #ffffff;
  text-decoration: none;
}

/* MAX_WIDTH: 991px
========================================================================== */
@media screen and (max-width: 991px) {
  /* line 212, ../sass/base.scss */
  #contact_us .column {
    padding: 20px;
  }
}
/* MAX_WIDTH: 767px
========================================================================== */
@media screen and (max-width: 767px) {
  /* line 220, ../sass/base.scss */
  h1, h4 {
    font-size: 50px;
    line-height: 50px;
  }

  /* line 225, ../sass/base.scss */
  h3 {
    font-size: 30px;
  }

  /* line 229, ../sass/base.scss */
  h5 {
    font-size: 30px;
  }

  /* line 233, ../sass/base.scss */
  label {
    font-size: 24px;
  }

  /* line 237, ../sass/base.scss */
  .page-title h1 {
    min-width: auto;
    margin-top: -60px;
    padding-bottom: 10px;
  }

  /* line 243, ../sass/base.scss */
  #contact_us .button-container {
    position: relative;
  }
}
