/******************************
          HEADER       
*******************************/

header{
	background-color: $babyblue;
	border-bottom: 5px solid $white;
}

a.brand {
	overflow:hidden;
	display:block;
	margin-top:-15px;


	img {
		max-width: 100%;
	}
}

.border-line{
	width: 100%;
	height: 10px;
	background-color: $lightblue;
	position: absolute;
}


	
/* Social Sharing and Search Bar 
========================================================================== */

.social-search-container{
	padding: 0;
	background-color: $lightblue;
	position: relative;
	border-bottom-left-radius: 10px;
    padding-left: 10px;

	&:before {
    content: "";
    position: absolute;
    left: -45px;
    border-top: 46px solid #c7eafc;
    border-left: 46px solid transparent;
    top: -11px;   
 }

	.social-search-inner{
		float:right;
	}

	.inner-wrap {
		float:left;
	}
}


ul.social-sharing {
	padding:5px 0 2px 0;

	.twitter a{
		@extend %share-icon;
    background-image: url(../images/twitter.png);
	}

	.facebook a{
		@extend %share-icon;
    background-image: url(../images/facebook.png);
	}

	li{
		display:inline-block;
	}

 }

 #search{
 	.input {
 	height: 27px;
    display: inline-block;
    margin: 5px;
 	}

 	.submit{
    border: 0;
    position: relative;
    width: 60px;
    padding: 0;
    margin: 0;
    height: 40px;
    display: inline-block;
    float: right;
    background:url(../images/search-icon.png) center no-repeat #0158a2;
 	}

 }

/* NAVBAR
========================================================================== */

.navbar {
	margin: 0;
	border: 0;

	.navbar-collapse{
		margin: 25px 0 0 0;
		overflow: initial;
	}

	.navbar-toggle {
		background: $lightblue;
	
		.icon-bar{
			background: $white;
		}
	}

	img {
		margin: 10px 0 0 10px;
	}

	ul{
		position: relative;
		top: 5px;
		float: right;
	}

	li a{
	  display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    line-height: 13px;
    color: $black;
    border-bottom: 5px solid white;
    @extend %oswald-light;

    &:hover,
    &:focus{
    	background: $white;
   		border-bottom: 5px solid darkblue;
    }
	}

}


/* MAX_WIDTH: 991px
========================================================================== */ 
@media screen and(max-width:$break-medium){
	a.brand{
		margin-top: 0;
	}
}


/* MAX_WIDTH: 767px
========================================================================== */

@media screen and(max-width:$break-small){
	.navbar{

		.navbar-collapse {
			margin: 0 -15px 5px -15px;	
			float: none;
			padding: 0;

			ul{
				float: none;
				margin: 0;
			}

			li{
				width: 100%;
			}

			a{
				width: 100%;
				border-bottom: none;
			}
		}
	}


	#search {

		.input{
   			width:154px;
		}

		.submit{
			width:50px;
		}
	}

	.social-search-container{
		padding-left: 0;
		float:none !important;
		width:100%;
		overflow: hidden;
	}
	
}