/******************************
          MIXINS         
*******************************/

@mixin border-top-radius($radius){
	-webkit-border-top-left-radius: $radius;
	-webkit-border-top-right-radius: $radius;
  	-moz-border-top-left-radius: $radius;
  	-moz-border-top-right-radius: $radius;  
  	-ms-border-top-left-radius: $radius;
  	-ms-border-top-right-radius: $radius; 
  	border-top-left-radius: $radius;
 	border-top-right-radius: $radius;  
}

@mixin border-bottom-radius($radius){
	-webkit-border-bottom-left-radius: $radius;
	-webkit-border-bottom-right-radius: $radius;
  	-moz-border-bottom-left-radius: $radius;
  	-moz-border-bottom-right-radius: $radius;  
  	-ms-border-bottom-left-radius: $radius;
  	-ms-border-bottom-right-radius: $radius; 
  	border-bottom-left-radius: $radius;
 	border-bottom-right-radius: $radius;  
}

@mixin border-radius($radius){
	-webkit-border-radius: $radius;
  	-moz-border-radius: $radius;
  	-ms-border-radius: $radius;
 	border-radius: $radius;  
}

@mixin set-width($width){
	width: 100%;
	max-width: $width;
}

@mixin box-shadow($a, $b){
	-moz-box-shadow: inset 0 $a $b -8px $black;	 
	-webkit-box-shadow: inset 0 $a $b -8px $black;	
	box-shadow: inset 0 $a $b -8px $black;	
}
