/******************************
           PLACEHOLDERS       
*******************************/

%share-icon {
    height: 30px;
    width: 30px;
    background-size: 100% 100%;
    display: block;	
}

%content-indent{
	margin: 0 auto;
	@include set-width(1273px);
}

%circle-button{
	width: 228px;
	height:228px;
	border: 5px solid $white;
	display: block;
	margin: 0 auto;
	background-size: auto;
	border-radius: 50%;
	background:center no-repeat $babyblue;	
}

%regular-button{
	@extend %segoe-bold;
	@include border-radius(10px);
	color: $white;
	padding: 10px;
	border: 0;
}

%row-margin{
	margin: 20px 0 30px 0;
}

%featured-image {
	width: 41.66666667%;
    background: red;
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    @include border-radius(10px);
}