 

@import 'reset';
@import 'variables';
@import 'mixins';
@import 'placeholders';
@import 'fonts';

@import 'header';
@import 'course-listings-page';
@import 'media-queries';


/******************************
          GLOBAL    
*******************************/

.row{
	overflow:hidden;
}

.container {
	margin: 0 auto;
	@include set-width(1522px);
}

h1{
	@extend %segoe-light;
	font-size: 78px;
	display: inline-block;
	line-height: 110px;	
}

h3{
	@extend %segoe-regular;
	font-size: 38px;
}

h4 {
	@extend %segoe-light;
	font-size: 78px;
	line-height: 70px;
	margin-bottom: 20px;
}

h5 {
	@extend %lato-bold;
	font-size: 34px;
}

label {
	font-size: 28px;
	display: block;
	width: 100%;
	text-align: center;
	letter-spacing: -1px;
	padding-top: 10px;
	color: $white;
	@extend %segoe-light;
}


/* Page title
========================================================================== */ 
.page-title {

  .inner{
		text-align: center;
		@extend %content-indent;		
  }
	
  .border{
    background: url(../images/resources.jpg) repeat-x;
  	background-size: auto 100%;
  	height: 178px;
  }

	h1{
		position: relative;
    	margin: -110px auto 0 auto;
    	vertical-align: top;
  		background: $white;	
  		padding: 1px 10px;		
   	    width: auto;
  		min-width: 670px;
    	max-width: 100%;
    	word-break: break-word;
    	@include border-top-radius(15px);
    	

		&:before {
  	  		position: absolute;
  	  		content: "";
  	  		border-left: 100px solid transparent;
  	  		border-bottom: 107px solid $white;
   			left: -95px;
  	 		top: 4px;
		}

		&:after{
			position: absolute;
  	  		content: "";
  	  		border-right: 100px solid transparent;
  	  		border-bottom: 107px solid $white;
  	  		right: -95px;
  	  		top: 4px;
		}
	}
}

/* CONTACT US
========================================================================== */ 
#contact_us{
	background:url(../images/safety.jpg) center;
	background-size: cover;
	color: $white;

	.inner{		
		@extend %content-indent;
		padding: 65px 0;	
	}

	.row{
		background: $babyblue; 
		overflow: hidden;
		text-align: center;
		position: relative;
		margin: 0;
		@include border-radius(10px);
	}

	.column {
		padding: 40px 50px;
	}

	.description {
		font-size: 20px;
		@extend %verdana-regular;
	}

	.button-container{
		background: $white;
		display: block;
   		position: absolute;
    	right: 0;
		text-align: center;
		height: 100%;
	}

	.button-wrapper{
		display: table;
    	height: 100% ;
    	width: 100%;
	}

	.inner-wrap{
		display: table-cell;
    	vertical-align: middle;
	}

	button{
		background: $blue;
		font-size: 26px;
		display: block;
		margin: 0 auto;
		@extend %regular-button;
		@include set-width(206px);

	}

}


/* FOOTER
========================================================================== */ 
footer {
	background: $darkgray;
	text-align:center;
	padding: 30px 0;

	ul {

	}

	li {
		display:inline-block;
		padding: 0 10px; 
		border-left: 2px solid $gray;

		&:first-child{
			border-left: none;
		}
	}

	a{
		color: $gray;
		font-size: 16px;
		@extend %verdana-regular;

		&:hover{
			color: $white;
			text-decoration: none;
		}
	}
}

/* MAX_WIDTH: 991px
========================================================================== */

@media screen and(max-width:$break-medium){

	#contact_us .column {
		padding: 20px;
	}
}
/* MAX_WIDTH: 767px
========================================================================== */

@media screen and(max-width:$break-small){
	h1, h4 {
		font-size: 50px;
		line-height: 50px;
	}

	h3{
		font-size: 30px;
	}

	h5{
		font-size: 30px;
	}

	label {
		font-size: 24px;
	}

	.page-title h1{
		min-width: auto;
		margin-top: -60px;
		padding-bottom: 10px
	}

	#contact_us .button-container {
		position:relative;
	}

}